@import '~src/assets/style/common-util';

@mixin line($color) {
    position: absolute;
    display: block;
    height: 1px;
    width: 1.26rem;
    background-color: $color;
    top: 50%;
    margin-top: -.5px;
    content: '\20';
}

.tmenu {
    max-width: 7.5rem;
    margin: 0 auto;
}
// 拿到global.scss里边
// .show-searcher {
//     height: 100%;
//     overflow: hidden;
//     position: fixed;
//     margin: 0 auto;
//     left: 0;
//     right: 0;
//     .home {
//         opacity: 0;
//     }
// }

.container {
    background: $block-background;
    width: 7.5rem;
    margin: 0 auto;
}

.emergency {
    .home {
        margin-top: 1.76rem;
        background: #fff;
        .cates {
            padding: 0.32rem 0 0.24rem;
        }
    }
    .more-list {
        // width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: scroll;
        /* 1 */
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-overflow-scrolling: touch;
        /* 2 */
        text-align: justify;
        /* 3 */
        font-size: 0;
        height: 2.2rem;
        padding: 0.16rem 0;
        background-color: #e4e7e8;
        margin-bottom: 0.3rem;
        &::-webkit-scrollbar {
            display: none;
        }
        &>ul {
            position: relative;
            &::-webkit-scrollbar {
                display: none;
            }
            &:after {
                content: '\020';
                width: 0;
                height: 0;
                clear: both;

                display: block;
                top: 0;
                visibility: hidden;
            }
            &>li {
                position: relative; // float: left;
                display: inline-block;
                width: 4.6rem;
                margin-right: 0.04rem;
                overflow: hidden;
                height: 2.2rem;
                background-color: white;
                &>a {
                    display: block; // position: absolute;
                    top: 0;
                    left: 0;
                    position: relative;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    span {
                        font-size: 0.26rem;
                        color: white;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        margin: 0 0 .12rem .36rem;
                        max-width: 3.53rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &:last-child {
                    span {
                        color: #80888c;
                        font-size: .26rem;
                        margin: 0;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        height: .35rem;
                        &:after {
                            content: '';
                            display: inline-block;
                            width: .16rem;
                            height: .16rem;
                            border-right: 1px solid #b7b7b7;
                            border-top: 1px solid #b7b7b7;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            margin-left: .05rem;
                            margin-right: .15rem;
                        }
                    }
                }
            }
        }
    }
}
.emergency.xcx .home{
    margin-top: 0.88rem;
}
.top-search {
    position: fixed;
    top: 0.88rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 7.5rem;
    box-sizing: border-box;
    z-index: 2;
    background: #fff;
    padding: 0.16rem 0.36rem;
    display: flex;
    align-items: center;
    justify-content: space-between; // border-bottom: 1px solid #eef1f2;
    // &::after {
    //     @include setBottomLine;
    // }
    .search-input {
        position: relative;
        display: flex;
        input {
            -webkit-appearance: none;
            border: none;
            outline: none;
            width: 6.78rem;
            height: 0.56rem;
            border-radius: 1rem;
            text-align: left;
            font-size: 0.26rem;
            background: url(~src/assets/images/mobile/emergency/search.png) #EEF1F2 no-repeat 2.76rem center;
            background-size: 0.32rem 0.32rem;
            padding-left: 3.2rem;
            box-sizing: border-box;

            &.active {
                width: 6rem;
                padding-left: 0.7rem;
                background-position: 0.28rem center;
            }
        }

        .del {
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('~src/assets/images/mobile/search_new/del.png');
            background-position: center;
            height: .32rem;
            width: .32rem;
            position: absolute;
            right: 0.16rem;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .tip {
        font-weight: bold;
        font-size: 0.32rem;
        color: #0d0d0f;
        line-height: 0.56rem;
    }
}
.emergency.xcx .top-search{
    top: 0;
}
.cate {
    margin: 0 0.36rem;

    .title {
        font-size: 0.34rem;
        line-height: 0.36rem;
        margin: 0 0 0.36rem;
        color: #0d0d0f;
        font-weight: bold;
    }

    .list {
        margin-bottom: 0.52rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .bg-item {
            margin-right: 0.2rem;
            margin-bottom: 0.2rem;
            width: 3.29rem;
            height: 1.12rem;
            padding: .2rem .16rem 0;
            border-radius: 0.08rem;
            box-sizing: border-box;
            box-shadow: 0 6px 12px 0 rgba(6, 58, 43, 0.16);
            color: #fff;
            font-size: 0.3rem;
            background: no-repeat center center;
            background-color: #eee;
            background-size: cover;

            &:active {
                background: rgba(18, 51, 66, .03);
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            p {
                max-width: 2.95rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .desc {
                font-size: 0.24rem;
                opacity: 0.8;
                margin-top: .04rem;
            }
        }

        .item {
            margin-right: 0.16rem;
            margin-bottom: 0.2rem;
            width: 2.15rem;
            height: 0.64rem;
            border-radius: 0.08rem;
            border: 0.01rem solid #b8bfc4;
            box-sizing: border-box;
            color: #0d0d0f;
            font-size: 0.28rem;
            text-align: center;
            line-height: 0.64rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &:active {
                background: rgba(18, 51, 66, .03);
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

.emergency-tel {
    padding-bottom: 0.38rem;
    .desc {
        font-size: 0.24rem;
        color: #80888c;
        text-align: center;
        position: relative;

        &::before {
            @include line(#eef1f2);
            left: 0;
        }

        &::after {
            @include line(#eef1f2);
            right: 0;
        }
    }

    .tel {
        width: 3.82rem;
        height: 0.72rem;
        border-radius: 1rem;
        border: 2px solid #f66060;
        font-size: 0.32rem;
        line-height: 0.72rem;
        color: #0d0d0f;
        text-align: center;
        margin: 0.38rem auto 0;
        position: relative;
        overflow: hidden;
        box-sizing: content-box;

        &:active {
            background: rgba(18, 51, 66, .03);
        }

        span {
            color: #eb4646;
        }

        a {
            opacity: 0;
        }
    }
}

/deep/.search-content {
    position: fixed;
    top: 1.76rem;
    left: 0;
    right: 0;
    max-width: 7.5rem;
    margin: auto;
    background-color: $block-background;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid #eef1f2;

    .history {
        background-color: $block-background;
        padding: 0.5rem 0.36rem 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        .title {
            font-size: 0.34rem;
            color: #0d0d0f;
            position: relative;
            font-weight: bold;
            margin-bottom: 0.16rem;

            span {
                position: absolute;
                font-size: 0.28rem;
                color: #b8bfc4;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 0;
                font-weight: normal;
            }
        }

        .list {
            list-style: none;

            .item {
                position: relative;
                padding: 0.3rem 0;
                font-size: 0.3rem; // line-height: 0.89rem;
                color: #80888c;

                &::after {
                    @include setBottomLine(#e3e6ea);
                }
            }
        }
    }

    .search-list {
        background-color: $block-background;
        padding-left: 0.36rem;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        .list {
            list-style: none;

            .item {
                position: relative;
                padding: 0.3rem 0;
                font-size: 0.3rem; // line-height: 0.89rem;
                color: #0d0d0f;

                &::after {
                    @include setBottomLine(#e3e6ea);
                }

                .match {
                    color: #01a176;
                }
            }
        }
    }
    .empty {
        padding-top: 3.04rem;
        text-align: center;
        font-size: 0.32rem;
        color: #b9c0cb;
    }
}
.emergency.xcx .search-content{
    top: 0.88rem;
}
.hint {
    padding-top: 5rem;
    text-align: center;
    font-size: .34rem;
}