@import "~src/assets/style/common-util";
// 选择器头部
.picker-header {
  position: relative;
  &::after {
    @include setBottomLine(#e5e5e5);
  }
}

// 默认头部
.picker-header-default {
  height: 1.05rem;
  line-height: 1.05rem;
  text-align: center;
  color: #000000;
  .reset-btn {
    font-size: .28rem;
    color: #06BA8E;
    position: absolute;
    top: 0;
    right: .28rem;
  }
}

// 选择器内容
.picker-content {
  display: flex;
  max-height: 60vh;
  overflow: hidden;
  .picker-column {
    flex: 1;
    overflow: hidden;
    &:first-child {
      .column-content {
        background: #f4f4f4;
      }
      .column-option.selected {
        .column-option-default {
          color: #000;
          background-color: #fff;
          position: relative;
          &::before {
            content: ' ';
            display: inline-block;
            width: .08rem;
            height: .3rem;
            background-color: #06BA8E;
            position: absolute;
            left: 0;
            top: .35rem;
          }
        }
      }
    }
    &:not(:first-child) {
      .column-header-default,
      .column-option-default {
        padding-left: .6rem;
      }
    }
  }
}

// 默认列头部
.column-header-default {
  padding-left: .4rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .28rem;
  color: #01A176;
}

// 列内容
.column-content {
  height: 100%;
  max-height: 65vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .column-option {
    list-style-type: none;
    &.selected {
      .column-option-default {
        font-weight: 700;
        color: #06BA8E;
      }
    }
  }
}

// 默认选项
.column-option-default {
  height: 1rem;
  line-height: 1rem;
  color: #000;
  padding-left: .4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}