@import '~src/assets/style/common-util';
@import '~src/assets/style/iphonex';

@mixin ellipsis($value:4){
	max-width: #{$value}rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
body{
    background: #fcfcfc;    
}
.container {
    background: #fcfcfc;
    max-width: 7.5rem;
    min-width: 7.5rem;
    margin: 0 auto;
    position: relative;
    padding-top: 2.4rem;  //1.84rem
    flex: 1;
    &.category-drug{
        padding-top: .88rem;
    }
}
.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.56);
    z-index: 2;
}
#clinical_recruitment{
    background: #f3f3f3;
    li{
        list-style-type: none;
    }
    .filter-wrp{
        position: fixed;
        background-color: #fff;
        width: 100%;
        z-index: 2;
        top: .88rem;
        left: 0;
    }
    .filter-list{
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        font-size: .28rem;
        div:nth-last-of-type(1) {
            .inner-wrp{
                border-right: none;
            }
        }
        .filter-li{
            flex: 1;
            width: 0;
            display: flex;
            align-items: center;
            padding: .32rem 0;
            color: #80888C;
            display: flex;
            .inner-wrp{
                border-right: 1px solid #B8BFC4;
                height: .32rem;
                line-height: .32rem;
                padding: 0 .5rem 0 .35rem;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                position: relative;
                flex: 1;
                span{
                    vertical-align: middle;
                }
                .arrow{
                    width: .24rem;
                    height: .32rem;
                    display: inline-block;
                    background: url(~src/assets/images/mobile/clinical_recruitment/arr_down.png) no-repeat center center;
                    background-size: contain;
                    // position: absolute;
                    // right: .34rem;
                    // top: 0;
                }
            }
            &.selected{
                font-weight: bold;
                color: #0D0D0F;
                .arrow{
                    background: url(~src/assets/images/mobile/clinical_recruitment/arr_up.png) no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }
    .tabs-row{
        padding: .2rem 0 .22rem .3rem;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        font-size: 0;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: .88rem;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 1;
        font-size:0;
        .item{
            display:inline-block;
            font-size:.3rem;
            color: #80888c;
            margin-right:.68rem;
            position:relative;
            &.active{
                color: #06ba8e;
            }
            &:last-child{
                margin-right:0;
                padding-right:.2rem;
            }
        }
    }
    /*---- v2.0.1紧急版本，筛选改为下拉 ---*/
    .doc-selector-wrp {
        width: 100%;
        background: #fff;
        padding: .3rem 0;
        position: fixed;
        top: .88rem;
        left: 0;
        right: 0;
        z-index: 2;
        box-shadow: 0 0.03rem 0.07rem 0 rgba(216, 216, 216, 0.37);
        .doc-selector-inner-wrp {
            text-align: center;
        }
        .doc-selector {
            width: 3.28rem;
            height: .92rem;
            line-height: .92rem;
            text-align: center;
            border: 1px solid #0CB8A3;
            border-radius: .08rem;
            color: #000000;
            font-size: .3rem;
            position: relative;
            display: inline-block;
            &.doc-selector-disease{
                margin-right: .14rem;
            }
            .doc-selector-inner {
                padding-right: .34rem;
                position: relative;
                display: inline-block;
                line-height: .92rem;
                height: .92rem;
                &:after {
                    content: ' ';
                    width: .34rem;
                    height: .92rem;
                    display: block;
                    background: url("~src/assets/images/mobile/doctor_search/filter-arrow-common.png") no-repeat center center;
                    background-size: .16rem;
                    position: absolute;
                    right: 0;
                    top: 0;
                  }
            }
        }
    }
    .empty-remark {
        font-size: .28rem;
        color: #B8BFC4;
        padding: .22rem 0 .2rem;
        text-align: center;
    }
    .other-docs-wrp{
        background: #fff;
        padding-top: .39rem;
        .other-p {
            font-size: .28rem;
            color: #80888C;
            margin-bottom: .3rem;
            padding-left: .3rem;
        }
        .remark{
            font-size: .24rem;
            color: #06BA8E;
            border-radius: .04rem;
            width: 6.94rem;
            margin: 0 auto;
            padding: .05rem 0.05rem .05rem .64rem;
            box-sizing: border-box;
            background: url(~src/assets/images/mobile/clinical_recruitment/remark-icon.png) #f5f6f7 no-repeat .18rem center;
            background-size: .36rem .36rem;
            // text-align: justify;
        }
    }
    /*---------------*/
    .filter-panel{
        border-top: 1px solid #e3e6ea;
        font-size: .3rem;
        color: #0D0D0F;
        position: absolute;
        top: .96rem;
        background-color: #fff;
        width: 100%;
        position: relative;
        top: 0;
        &:before{
            content: "\20";
            position:absolute;
            top:0;
            left:0;
            right:0;
            height:.44rem;
            background-image: linear-gradient(360deg, rgba(255,255,255,0.5) 0%, #ffffff 50%);
        }
        &:after{
            content: "\20";
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            height:.44rem;
            background-image: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, #ffffff 50%);
        }
        // 疾病选择
        .disease{
            width: 100%;
            max-height: 7.38rem;
            display: flex;
            .left-filter{
                flex: 1;
                /*--第一版只要第一个选项--*/
                /* max-width: 42%; */
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                &::-webkit-scrollbar {
                    display: none;
                }
                padding: .54rem 0 .52rem;
            }
            .right-filter{
                flex: 1;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            li{
                margin-bottom: .45rem;
                padding: 0 .36rem;
                @include setLineClamp(1);
                &:last-of-type {
                     margin-bottom: 0;
                 }
                &.selected{
                     color: #06BA8E;
                 }
            }
        }
        // 治疗方法
        .treatment{
            width: 100%;
            height: 7.38rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            // position: relative;
            .select-ul{
                display: block;
                width: 100%;
                flex: 1;
                overflow-y: auto;
                padding-bottom: 1.11rem;
                &::-webkit-scrollbar {
                    display: none;
                }
                .selection-li{
                    height: 1.1rem;
                    line-height: 1.1rem;
                    padding-left: .36rem;
                    .inner-wrp{
                        width: 100%;
                        border-bottom: 1px solid #e3e6ea;
                        .select-icon{
                            width: .48rem;
                            height: .48rem;
                            display: inline-block;
                            background: url(~src/assets/images/mobile/clinical_recruitment/check-box-common.png) no-repeat center center;
                            background-size: contain;
                            vertical-align: middle
                        }
                        .select-name{
                            vertical-align: middle
                        }
                    }
                    &.selection-all{
                        position: absolute;
                        width: 100%;
                        bottom: .96rem;
                        background-color: rgba(255, 255, 255, .95);
                        .inner-wrp{
                            border-bottom: none;
                        }
                    }
                    &.selected{
                        .select-icon{
                            background: url(~src/assets/images/mobile/clinical_recruitment/check-box-selected.png) no-repeat center center;
                            background-size: contain;
                        }
                    }
                }
                
            }
            .sure-btn{
                display: block;
                height: .96rem;
                color: #fff;
                font-size: .32rem;
                letter-spacing: .15rem;
                line-height: .96rem;
                text-align: center;
                background-color: #06BA8E;
            }
        }
    }
    .content-wrp{
        background: #fff;
        padding-top: .28rem;
        .releasetime{
            margin-top: .1rem;
            font-size: .22rem;
            color: #b8bfc4;
            line-height: 1;
        }
        .remark{
            font-size: .24rem;
            color: #06BA8E;
            border-radius: .04rem;
            width: 6.94rem;
            margin: 0 auto;
            padding: .05rem 0.05rem .05rem .64rem;
            box-sizing: border-box;
            background: url(~src/assets/images/mobile/clinical_recruitment/remark-icon.png) #f5f6f7 no-repeat .18rem center;
            background-size: .36rem .36rem;
            // text-align: justify;
        }
    }
    &.category-drug{
        .content-wrp{
            padding-top: .06rem;
        }            
    }
    .check-all-btn{
        position: relative;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        color: #80888C;
        font-size: .28rem;
        text-align: center;
        // &:before{
        //     position: absolute;
        //     display: block;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     content: "";
        //     height: 1px;
        //     border-bottom: 1px solid #e3e6ea;
        //     margin-left: 0;
        //     margin-right: 0;
        //     transform-origin: 0 100%;
        //     transform: scaleY(0.5);
        // }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .25s ease-in-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/*----招募通道协议面板----*/
.confirm_main{
    width: 5.67rem;
    height: 7.38rem;
    overflow-y: auto;
    margin: 0 auto;
    text-align: left;
    font-size: .28rem;
    color: #3F3F42;
    line-height: .56rem;
    -webkit-overflow-scrolling: touch;

        .p2{
            text-indent: .56rem;
            text-align: justify;
        }

}
.btn-wrp {
    width: 100%;
    display: flex;
    a {
        flex: 1;
        height: .82rem;
        line-height: .82rem;
        font-size: .32rem;
        text-align: center;
        @include setTouchBackground; 
    }
    .cancel-btn {
        color: #80888C;
        background: #eff1f2;
    }
    .sure-btn {
        color: #fff;
        background-image: linear-gradient(-133deg, #00C79B 0%, #0DB6A4 100%);
        &.unable {
            background: #9be5d6;
        }
    }
}