@import '~src/assets/style/common-util';

.container {
  background: #f9fafa;
  width: 7.5rem;
  margin: 0 auto;
  padding-top:.88rem;
}
.auth-header{
  @include setBackground('~src/assets/images/mobile/authority/header.png');
  background-size:100%;
  text-align: center;
  color:#ffffff;
  font-size:.38rem;
  font-weight:600;
  line-height:.56rem;
  padding:.46rem 0;
}
.committee-header {
  padding-top: .8rem;
  height: 2.6rem;
  overflow: hidden;
  box-sizing: border-box;
  background: url(~src/assets/images/mobile/cancer_committee/bg.png) no-repeat center/cover;
  text-align: center;
  font-size: 0;
  .name {
    vertical-align: middle;
    font-size: .52rem;
    color: #fff;
    padding: 0 .2rem;
    position: relative;
    &::before {
      content: " ";
      background: url(~src/assets/images/mobile/cancer_committee/line_left.png) no-repeat center/contain;
      background-size: 1.55rem auto;
      width: 1.55rem;
      height: .03rem;
      position: absolute;
      left: -1.55rem;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &::after {
      content: " ";
      background: url(~src/assets/images/mobile/cancer_committee/line_right.png) no-repeat center/contain;
      background-size: 1.55rem auto;
      width: 1.55rem;
      height: .03rem;
      position: absolute;
      right: -1.55rem;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .line {
    vertical-align: middle;
    width: 1.55rem;
  }
}

.committee-member {
  background: #fff;
  padding-top: .4rem;
  margin-bottom: .2rem;
  .member-title {
    font-size: .36rem;
    color: #0D0D0F;
    border-left: .18rem solid #00bc89;
    text-indent: .2rem;
    line-height: .36rem;
    font-weight: 700;
    margin-left: -.1rem;
    span{
      font-size: .24rem;
      color: #b8bfc4;
    }
  }
  .member-item {
    font-size: .28rem;
    color: #B8BFC4;
    .name {
      font-size: .32rem;
      font-weight: 700;
      color: #000000;
      span {
        margin-right: .15rem;
      }
    }
    .avatar {
      border-radius: 50%;
    }
  }
  .avatar-large {
    padding: .2rem 0;
    .member-item {
      display: flex;
      align-items: center;
    }
    .avatar {
      margin: .2rem 0 .2rem .3rem;
      width: 1.3rem;
      height: 1.3rem;
    }
    .info {
      margin: .3rem;
    }
  }
  .avatar-small {
    display: flex;
    flex-wrap: wrap;
    padding: .2rem 0 .32rem;
    .member-item {
      width: 3.75rem;
      font-size: .24rem;
      display: flex;
      align-items: center;
      position: relative;
      &:nth-child(2n) {
        &::before {
          position: absolute;
          content: " ";
          height: .52rem;
          border-left: 1px solid #D8D8D8;
        }
      }
    }
    .avatar {
      margin: .2rem 0 .2rem .32rem;
      width: .9rem;
      height: .9rem;
    }
    .info {
      margin: 0 .1rem 0 .2rem;
      &>p {
        max-width: 2.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .avatar-hide {
    display: flex;
    flex-wrap: wrap;
    padding: .14rem 0 .46rem;
    .member-item {
      width: 3.75rem;
      font-size: .24rem;
      position: relative;
      margin: .14rem 0;
      &:nth-child(2n) {
        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          content: " ";
          height: .52rem;
          border-left: 1px solid #D8D8D8;
        }
      }
      .info {
        margin: 0 .1rem 0 .28rem;
        &>p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
.cancer-members{
  padding-bottom:.6rem;
  .member-item{
    padding-top:.6rem;
    .load-more-arrow{
      margin-top:.2rem;
      padding-bottom:.2rem;
    }
    .title{
      border-left: .08rem solid #00bc89;
      text-indent: .2rem;
      line-height: .36rem;
      font-size: .36rem;
      color: #0D0D0F;
      font-weight: 700;
    }
    ul{
      list-style: none;
    }
    .info{
      flex:1;
      overflow:hidden;
      .name{
        font-size:.32rem;
        color: #494949;
        line-height:.45rem;
        display:flex;
        align-items:center;
        span{
          color: #B8BFC4;
          font-size:.24rem;
          margin-left:.2rem;
        }
      }
      .desc{
        font-size:.24rem;
        line-height:.32rem;
        color: #B8BFC4;
      }

    }
    .academician{
      margin-top:.52rem;
      padding:0 .32rem;
      li{
        display:flex;
        align-items:center;
        font-size: 0;
        position:relative;
        &:not(:first-child){
          margin-top:.4rem;
        }
        img{
          height:1.1rem;
          width:1.1rem;
          border-radius:50%;
          margin-right:.3rem;
        }
        
      }
    }
    .editor{
      padding:0 .32rem;
      display:flex;
      flex-flow:wrap;
      li{
        position:relative;
        width:50%;
        display:flex;
        align-items:center;
        font-size: 0;
        margin-top:.4rem;
        img{
          height:.7rem;
          width:.7rem;
          border-radius:50%;
          margin-right:.12rem;
        }
        .info{
          .name{
            font-size:.28rem;
            line-height:.4rem;
            span{
              margin-left:.12rem;
            }
          }
        }
      }
    }
  }
  .cancer-committee{
    padding-top:.52rem;
    &:first-child{
      padding-top:.6rem;
    }
    .title{
      display:flex;
      align-items:center;
      padding-right:.3rem;
      text-indent:0;
      font-weight:normal;
      .title-name{
        flex:1;
        display:flex;
        align-items:center;
        padding-left:.2rem;
        font-weight:700;
        .num{
          font-size:.24rem;
          color: #B8BFC4;
          font-weight:normal;
        }
      }
      .detail{
        position:relative;
        font-size:.24rem;
        color: #B8BFC4;
      }
      .arrow {
          border-top: 1px solid #B8BFC4;
          border-right: 1px solid #B8BFC4;
          transform: rotate(45deg);
          width: .14rem;
          height: .14rem;
          margin-left: .1rem;
      }
    }
    .editor-member{
      padding:0 .32rem;
      display:flex;
      flex-flow:wrap;
      li{
        width:33.33%;
        margin-top:.3rem;
        .info{
          .name{
            font-size:.28rem;
            line-height:.4rem;
            span{
              margin-left:.12rem;
            }
          }
        }
      }
    }
  }
}
.load-more-arrow {
  padding: .2rem 0 .4rem;
  width: inherit;
  height: .13rem;
  background: url(~src/assets/images/mobile/doctor/arrow-down.png) no-repeat center .2rem;
  background-size: .25rem .13rem;
  &.expand{
    background: url(~src/assets/images/mobile/doctor/arrow-up.png) no-repeat center .2rem;
    background-size: .25rem .13rem;
  }
}
.webmd{
  padding:.6rem 0 .3rem 0;
  margin-bottom:.6rem;
  background: #fff;
  box-shadow: 0 .03rem .07rem 0 rgba(216,216,216,0.37);
  .title{
    border-left: .08rem solid #00bc89;
    text-indent: .2rem;
    line-height: .36rem;
    font-size: .36rem;
    color: #0d0d0f;
    font-weight: 700;
  }
  .desc{
    background:{
      image:url(~src/assets/images/mobile/cancer_committee/WebMD-logo.png);
      repeat:no-repeat;
      position:.3rem .08rem;
      size:1.78rem .4rem;
    }
    margin-top:.22rem;
    padding:0 .38rem 0 2.28rem;
    font-size:.26rem;
    color:#80888C;
  }
}
