@import '~src/assets/style/common-util';

@font-face {
  font-family: 'iconfont'; 
  src: url('//at.alicdn.com/t/font_694727_2uhc92fcl5l.eot');
  src: url('//at.alicdn.com/t/font_694727_2uhc92fcl5l.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_694727_2uhc92fcl5l.woff') format('woff'),
  url('//at.alicdn.com/t/font_694727_2uhc92fcl5l.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_694727_2uhc92fcl5l.svg#iconfont') format('svg');
}
.container{
  background: #f7f7f7;
  width: 7.5rem;
  margin: 0 auto;
  position: relative;
}
.ft32{
	font-size:.32rem;
}
.ft30{
	font-size:.3rem;
}
.animation-desc{
	opacity:0;
	// bottom:-.5rem;
	// position:relative;
	transition: all .5s ease;
}
.show .animation-desc,.show.animation-desc{
	opacity:1;
}
.ask_answer{
	padding-top:.46rem;
	background: #f7f7f7;
    width: 7.5rem;
    margin: 0 auto;
    position: relative;
    flex:1;
    .welcome{
    	padding:2rem .26rem .6rem;
    	.title{
    		font-size:.28rem;
    		color: #303435;
    	}
    	.big-title{
    		margin-top:.2rem;
    		font-size:.46rem;
    		color:#69b8b5;
    	}
    	ul{
    		margin-top:.4rem;
    		list-style:none;
    		counter-reset:num;
    		li{
    			position:relative;
    			padding-left:1rem;
    			margin-top:.4rem;
    			&:first-child{
    				margin-top:0;
    			}
    			&:before{
    				counter-increment:num 1;
    				position:absolute;
    				content:counter(num);
    				background:#fff;
    				height:.8rem;
    				line-height:.8rem;
    				width:.8rem;
    				border-radius:.8rem;
    				font-size:.3rem;
    				color:#69b8b5;
    				text-align:center;
    				left:0;
    				top:50%;
    				margin-top:-.4rem;
    			}
    			.info-title{
    				font-size:.28rem;
    			}
    			.desc{
    				margin-top:.08rem;
    				font-size:.24rem;
    				color:#999;
    			}

    		}
    	}
    	.btns{
    		margin-top:3rem;
    		.btn{
    			position:relative;
    			text-align:center;
    			line-height:.8rem;
    			color:#c47fff;
    			border-radius:.8rem;
    			background:#fff;
    			font-size:.3rem;
    			margin-top:.2rem;
    			&:first-child{
    				margin-top:0;
    			}
    		}
    	}
    }
	//padding-bottom:1.1rem;
	.ask-list{
		padding:0 .26rem;
		.ask-item{
			font-size:0;
			padding-left:.92rem;
			padding-bottom:.2rem;
			position:relative;
			img{
				position:absolute;
				width:.72rem;
				height:.72rem;
				left:0;
				top:0;
			}
			.ask-item-wrap{
				&:not(:first-of-type){
					margin-top:.2rem;
				}
			}
			.item{
				max-width:5.4rem;
				display:inline-block;
				box-sizing: border-box;
				// border:1px solid #E5E5E5;
				border-radius:0 .2rem .2rem .2rem;
				background:#ffffff;
				padding:.3rem .36rem .32rem .32rem;
				font-size:.32rem;
				line-height:1.438;
				color:#303435;
				position:relative;
				&:after{
					@include setOnePxBorder(#E5E5E5,0 .4rem .4rem .4rem);
				}
			}
			.result{
				background: url(~src/assets/images/mobile/babylon/result.png) no-repeat center center;
				background-size:contain;
				border-radius:.2rem;
				width:5.4rem;
				height:2rem;
				box-sizing:border-box;
				padding:.36rem 0 0 .32rem;
				margin-top:.4rem;
				.title{
					line-height:1;
					font-size:.42rem;
					font-weight:700;
					color:#ffffff;
				}
				.view{
					margin-top:.6rem;
					line-height:1;
					font-size:.28rem;
					color:#595d5d;
				}
			}
		}
		.answer-item{
			padding-bottom:.2rem;
			display:flex;
			justify-content:flex-end;
			.item{
				border-radius:.2rem 0 .2rem .2rem;
				background:#16c297;
				padding:.28rem .36rem;
				font-size:.32rem;
				color:#ffffff;
			}

		}
		.time{
			font-size:.24rem;
			text-align:center;
			color:#939596;
			margin-bottom:.2rem;
		}
		.diagnosis{
			// padding:0 .3rem;
			margin-bottom:.4rem;
			.triage{
				background:#e8f5f2;
				border-radius:.3rem;
				text-align:center;
				position:relative;
				padding:1.2rem 0 .4rem;
				&:before{
					position:absolute;
					font-family:"iconfont";
					content:"\e64e";
					color:#65f3e4;
					top:.4rem;
					font-size:.48rem;
					left:0;
					right:0;
				}
				.title{
					font-weight:700;
					color:#0d1119;
					font-size:.36rem;
				}
				.desc{
					margin-top:.2rem;
					line-height: .52rem;
					font-size:.3rem;
					color:#303435;
					padding:0 1rem;
				}
			}
			.evidence{
				margin-top:.4rem;
				.title{
					font-weight:700;
					color:#0d1119;
					font-size:.36rem;
				}
				.desc{
					margin-top:.2rem;
					line-height: .52rem;
					font-size:.3rem;
					color:#303435;
				}
			}
			.possible-causes{
				position:relative;
				font-size:.36rem;
				font-weight:700;
				color:#0d1119;
				margin-top:.4rem;
				.icon{
					position:absolute;
					right:.3rem;
					top:0;
					&:before{
						position:absolute;
						font-family:"iconfont";
						content:"\e61b";
						color:#65f3e4;
						font-weight:normal;
						font-style:normal;
					}
				}
			}
			.disease-list{
				margin-top:.4rem;
				.disease{
					position:relative;
					padding:0 .2rem; 
					margin-top:.4rem;
					&:first-child{
						margin-top:0;
					}
					&:after{
						@include setBottomLine(#e5e5e5,-.2rem,-.2rem);
						bottom:-.2rem;
					}
					&:before{
						@include arrow(.14rem,#303435);
						right:.2rem;
						top:50%;
						margin-top:-.08rem;
					}
					.name{
						font-size:.36rem;
						color:#16c297;
					}
					.likely{
						display:flex;
						align-items:center;
						padding-right:.4rem;
						margin-top:.2rem;
						.likely-name{
							font-size:.3rem;
							color:#16c297;
							flex:1;
						}
						ul{
							list-style:none;
							width:.9rem;
							justify-content:space-between;
							display:flex;
							align-items:center;
							li{
								width:.16rem;
								height:.16rem;
								border-radius:.08rem;
								background:#f0f0f0;
								&.active{
									background:#16c297;
								}
							}
						}
					}
					.desc{
						margin-top:.2rem;
						line-height: .52rem;
						font-size:.3rem;
						color:#303435;
					}
				}
			
			}
			.item{
				&:not(:first-child){
					margin-top:.5rem;
				}
				.title{
					padding-left:.2rem;
					line-height:.36rem;
					font-size:.3rem;
					font-weight:700;
					color:#0d1119;
					position:relative;
					margin-bottom:.3rem;
					&:before{
					  position: absolute;
					  display: block;
					  top: .03rem;
					  left: 0;
					  content: "\20";
					  height:.3rem;
					  width:.08rem;
					  border-radius:.04rem;
					  background:#c6c6c6;
					}
				}
				// .card{
				// 	position:relative;
				// 	padding:0 .2rem; 
				// 	margin-top:.2rem;
				// 	background:#ffffff;
				// 	&:after{
				// 		@include setOnePxBorder(#e5e5e5,.16rem);
				// 	}
				// 	.disease{
				// 		position:relative;
				// 		display:flex;
				// 		align-items:center;
				// 		height:1.18rem;
				// 		&:after{
				// 			@include setBottomLine(#e5e5e5,-.2rem,-.2rem);
				// 		}
				// 		.name{
				// 			font-size:.42rem;
				// 			color:#16c297;
				// 			flex:1;
				// 		}
				// 		.weui-progress{
				// 			width:2.5rem;
				// 			justify-content:space-between;
				// 			display:flex;
				// 			.weui-progress__bar{
				// 				flex:none;
				// 				height:.16rem;
				// 				width:1.7rem;
				// 				border-radius:.08rem;
				// 				background:#f0f0f0;
				// 				overflow:hidden;
				// 				.weui-progress__inner-bar{
				// 					background:#16c297;
				// 				}
				// 			}
				// 			.ratio{
				// 				font-size:.28rem;
				// 				color:#16c297;
				// 				flex:1;
				// 				text-align:right;
				// 			}
				// 		}
				// 		.likely{
				// 			width:.9rem;
				// 			justify-content:space-between;
				// 			display:flex;
				// 			.likely-item{
				// 				width:.16rem;
				// 				height:.16rem;
				// 				border-radius:.08rem;
				// 				background:#f0f0f0;
				// 				&.active{
				// 					background:#16c297;
				// 				}
				// 			}
				// 		}
				// 	}
				// 	.list{
				// 		list-style-type:none;
				// 		padding:.36rem 0;
				// 		line-height: .52rem;
				// 		li{
				// 			font-size:.3rem;
				// 			color:#303435;
				// 			position:relative;
				// 			padding-left:.25rem;
				// 			// &:not(:first-child){
				// 			// 	margin-top:.3rem;
				// 			// }
				// 			&:before{
				// 				position:absolute;
				// 				content:"\20";
				// 				height:.12rem;
				// 				width:.12rem;
				// 				top:.2rem;
				// 				left:0;
				// 				border-radius:50%;
				// 				background:#e5e5e5;
				// 			}
				// 		}
				// 	}
				// 	.desc{
				// 		padding:.36rem 0;
				// 		line-height: .52rem;
				// 		font-size:.3rem;
				// 		color:#303435;
				// 	}
				// }
			}
			.record{
				position:relative;
				padding:.3rem .2rem;
				margin-top:.2rem;
				font-size:.34rem;
				text-align:center;
				color:#16c297;
				background:#ffffff;
				&:after{
					@include setOnePxBorder(#e5e5e5,.16rem);
				}

			}
		}
	}
	.mask{
		position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    opacity: .5;
	    background: #000;
	    z-index:101;
	}
	.overview{
		background:#fff;
		position:fixed;
		left:1rem;
		right:0;
		top:0;
		bottom:0;
		z-index:102;
		overflow:hidden;
		overflow-y:auto;
		-webkit-overflow-scrolling: touch;
		padding:0 .2rem;
		.back{
			padding:.2rem 0 .2rem .4rem;
			position: relative;
			font-size:.3rem;
			color:#9438b9;
			&:before{
				@include arrow(.14rem,currentColor);
				left:.1rem;
				margin-top:-.08rem;
				transform:rotate(-135deg);
			}
		}
		.title{
			padding:.4rem 0;
			font-size:.36rem;
			font-weight:600;
		}
		.info{
			.info-title{
				font-size:.3rem;
				font-weight:700;
			}
			ul{
				margin-top:.2rem;
				list-style:none;
				border-left:.08rem solid #9438b9;
				padding-left:.3rem;
				li{
					font-size:.3rem;
					margin-top:.1rem;
					&:first-child{
						margin-top:0;
					}
				}
			}
		}

	}
}
.fix-bottom{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	.single-select{
		.item{
			line-height:1.1rem;
			text-align:center;
			position:relative;
			font-size:.34rem;
			color:#303435;
			background:#ffffff;
			&:before{
				@include setBottomLine(#E5E5E5);
				top:0;
			}
		}
	}
	.multi-select{
		.item-list{
			max-height:5rem;
			overflow-y:auto;
		}
		.weui-cells_checkbox{
			margin-top:0;
			.multiple{
				.weui-icon-checked{
					&:before{
						font-family:"iconfont";
						content:"\e7e2";
					}
				}
				.weui-check:checked+.weui-icon-checked:before{
					font-family:"iconfont";
					content:"\e652";
				}
			}
		}
	}
	.single-select{
		.item-list{
			max-height:5rem;
			overflow-y:auto;
		}
		.weui-cells_checkbox{
			margin-top:0;
		}
	}
	.weui-search-bar__box{
		padding-left:10px;
		padding-right:10px;
	}
	.btn{
		line-height:1.1rem;
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.024);
		background:#ffffff;
		text-align:center;
		font-size:.34rem;
		color:#16c297;
		position:relative;
		&.top-line:before{
			@include setBottomLine(#E5E5E5);
			top:0;
		}
	}
	.feedback {
	    box-sizing: border-box;
	    background: #fff;
	    font-size: 0;
	    color: #80888c; 
	    text-align: center;
	    padding:.48rem 0;
	    .title {
	        font-size: 0.3rem;
	    }
	    .star-text{
	    	font-size:.24rem;
	    	color:#06ba8e;
	    	margin-top:.2rem;
	    }
	  	.star-list{
	  		margin-top:.28rem;
		    .star {
		        display: inline-block;
		        width: 0.41rem;
		        height: 0.41rem;
		        margin: 0 0.165rem;
		        background: url(~src/assets/images/mobile/actionbar/star.png) no-repeat center/contain;
		        &.active {
		          background-image: url(~src/assets/images/mobile/actionbar/stared.png);
		        }
		    }
	  	}
	  
	    .close {
	        position: absolute;
	        width: 0.24rem;
	        height: 0.24rem;
	        right: 0.24rem;
	        top: 0.24rem;
	    }
	}
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(2rem);
  // opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.feedback-enter,
  .feedback-leave-to {
    transition: transform 100ms ease-out 0ms, opacity;
    transform: translateY(-7rem);
    transform-origin: 50% 50% 0;
    opacity: 0;
  }
  
  .feedback-enter-active,
  .feedback-leave-active {
    transition: transform 100ms ease-out 0ms, opacity;
    transform: translateY(0px);
    transform-origin: 50% 50% 0;
    opacity: 1;
  }
