@import '~src/assets/style/common-util';

$btn-menu-animation-time: 0.5s;
$menu-content-show-time: 0.5s;

.container {
    background: $background;
    width: 7.5rem;
    margin: 0 auto;
    position: relative;
    padding-top: 0.88rem;
}
.border {
    padding: 0 0.32rem;
}

.border-bottom {
    background: $border-color;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
}

.searcher-box .searcher .tab-list {
  font-size: 0.36rem;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0.88rem;
  text-align: center;
  width: 100%;
  color: #3e464a;
}

.searcher-box .searcher .tab-list .search-back {
  position: absolute;
  top: 0.26rem;
  left: 0.32rem;
  width: 0.31rem;
  height: 0.35rem;
  background: url(~src/assets/images/mobile/common/search-back.png) no-repeat center;
  background-size: contain;
}

.grayBlock {
    height: 0.20rem;
    background: $background;
    box-shadow: inset 0 0.03rem 0.05rem 0 rgba(0, 0, 0, 0.05);
}

.md {
    p {
        text-indent: 0.4rem;
        margin: 0 0 0.48rem;
        text-align: justify;
        &:last-child {
            margin: 0;
        }
    }
}

.detail {
    background: $block-background;

    &:after {
        @include setBottomLine();
    }
}

.tpl-4 {
    min-width: 4.36rem;
    min-height: 1.56rem;
    padding: .64rem .32rem;
    border-bottom: .01rem solid #d9dee3;
    position: relative;
    &:last-child {
        border-bottom: none;
    }
    &.full {
        .t1, .title {
            max-width: 6.86rem;
        }
    }

    .title {
        font-size: 0.34rem;
        font-weight: 700;
    }
    .title, .t1 {
        max-width: 4.38rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .t1 {
        font-size: 0.32rem;
        color: #676d70;
        line-height: 0.55rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: normal;
    }
    .image {
        position: absolute;
        top: 0.64rem;
        right: 0.32rem;
        width: 2.42rem;
        height: 1.56rem;
    }

}

.tpl-14 {
    .banner {
        width: 100%;
        height: 1.28rem;
        line-height: 1.28rem;
        overflow: hidden;
        position: relative;
        font-size: 0.46rem;
        color: #fff;
        text-align: center;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .desc {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .zt {
            display: inline-block;
            height: 0.36rem;
            line-height: 0.36rem;
            width: 0.64rem;
            font-size: 0.24rem;
            border: 0.02rem solid #fff;
            position: relative;
            margin-left: 0.14rem;
            bottom: 0.06rem;
            border-radius: 0.04rem;
            text-align: center;
        }
    }
    .sumary {
        padding: .66rem .32rem;
        font-size:.34rem;
        line-height:.54rem;
        color:#3e464a;
    }
}

.tpl-15 {
    margin: 0 .32rem;
    padding: .52rem 0;
    border-bottom: 0.01rem solid #d9dee3;
    font-size: 0.32rem;
    color: #676d70;
    &:last-child, &.last {
        border-bottom: none;
    }

    .r1 {
        line-height: 0.44rem;
        font-size: 0.36rem;
        position: relative;
        text-indent: 0.56rem;
        color: #0d0d0f;
        margin-bottom: 0.26rem;
        overflow: hidden;

        .icon {
            position: absolute;
            left: 0;
            width: 0.44rem;
            height: 0.44rem;
        }
    }

    .r2 {
        line-height: 0.46rem;
    }

    .r3 {
        overflow: hidden;

        .col {
            width: 1.34rem;
            text-align: center;
            float: left;
            white-space: nowrap;
            overflow: visible;
            margin-top: 0.32rem;
        }

        img {
            width: 0.72rem;
            height: 0.72rem;
            display: block;
            margin: 0 auto 0.18rem;
        }
    }

}

.block {
    .header {
        overflow: hidden;
        margin: 0 .32rem;
        border-bottom: .01rem solid #d9dee3;
        &.noborder {
            border-color: transparent;
            .title {
                border-color: transparent;
            }
        }
        &.novideo {
            margin-bottom: 0.64rem;
        }
        .title {
            float: left;
            font-size: .50rem;
            padding-top: .64rem;
            padding-bottom: .38rem;
            color: #0d1119;
            border-bottom: .08rem solid #d9dee3;
            overflow: hidden;
            box-sizing: border-box;
        }
    }

    &>.sumary {
        padding: .64rem .32rem;
        font-size: 0.34rem;
        line-height: 0.56rem;
        word-break: break-all;
        color: #3e464a;

        .md li,
        .md p {
            margin: 0 0 0.20rem;
            line-height: 0.56rem;
            word-break: normal;
        }

        .image {
            float: right;
        }
    }

    .topicinfo {
        .title {
            line-height: 0.96rem;
            font-size: 0.40rem;
            color: #0d0d0f;
            padding: 0 0.32rem;
            border-bottom: 0.01rem solid #d9dee3;
        }
        .related {
            line-height: 0.96rem;
            font-size: 0.34rem;
            color: #1997cb;
            padding-left: 0.55rem;
            border-top: 0.01rem solid #d9dee3;
            position: relative;

            .circle {
                width: 0.08rem;
                height: 0.08rem;
                background: #1997cb;
                border-radius: 50%;
                position: relative;
                top: 0.48rem;
                right: 0.15rem;
            }
        }
    }

    .doclist {
        &>.title {
            font-size: 0.32rem;
            color: #8e9497;
            padding: 0.20rem 0.32rem;
            background: $background;
            box-shadow: inset 0 0.03rem 0.05rem 0 rgba(0, 0, 0, 0.05);
        }
        .item {
            padding: 0.4rem 0.32rem;
            min-height: 1.18rem;
            position: relative;
            display: flex;

            & > div {
                flex: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #b8bfc4;

                .title {
                    font-size: 0.34rem;
                    font-weight: 700;
                    color: #0d1119;
                    word-wrap: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 0.38rem;
                    max-height: 0.76rem;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .refer {
                    font-size: 0.24rem;

                    & > div {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            .img {
                width: 2.42rem;
                height: 1.56rem;
                margin-left: 0.2rem;
                border-radius: 0.04rem;
            }
        }
    }
}

.article {
    font-size: 0.32rem;
    color: #3e464a;
    background: #fff;

    .list {
        .item {
            padding: 0.4rem 0.32rem;
            min-height: 1.18rem;
            position: relative;
            display: flex;

            & > div {
                flex: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #b8bfc4;

                .title {
                    font-size: 0.34rem;
                    font-weight: 700;
                    color: #0d1119;
                    word-wrap: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 0.38rem;
                    max-height: 0.76rem;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .refer {
                    font-size: 0.24rem;

                    & > div {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            .img {
                width: 2.42rem;
                height: 1.56rem;
                margin-left: 0.2rem;
                border-radius: 0.04rem;
            }
        }
    }
}

.qrcode-container {
    // padding-bottom: 2.4rem;
}
