@import '~src/assets/style/common-util';
@mixin setBackground($url) {
  background: {
    image: url($url);
    repeat: no-repeat;
    position: center;
    size: contain;
  }
}

.container {
  background: #F3F3F3;
  width: 7.5rem;
  margin: 0 auto;
  padding-top:.88rem;
  overflow-x:hidden;
}
.authority_csco {
  header {
    text-align: center;
    font-size: 0;
    padding: .52rem 0 .98rem;
    background: {
      color: #FFFFFF;
      image: url(~src/assets/images/mobile/authority_csco/csco-logo-bg.png);
      repeat: no-repeat;
      position: center;
      size: cover;
    }
    .logo {
      width: 3.43rem;
      display: block;
      margin: 0 auto;
    }
    .name-title {
      color: #0d0d0f;
      font-weight: 700;
      font-size: .4rem;
      line-height: .37rem;
      height: .37rem;
      margin: .27rem 0 .23rem;
    }
    .name-info{
      margin-top:.3rem;
      text-align:center;
      font-size:0;
      display: inline-block;
      .title{
        font-size:.24rem;
        line-height:.34rem;
        color: #4A4B4C;
        text-align-last: justify;
      }
      .desc{
        display:inline-block;
        position:relative;
        margin-top:.14rem;
        font-size:.24rem;
        color: #80888C;
        line-height:.34rem;
        &:before{
          @include setBottomLine(#7D7F82,-.04rem,-.04rem);
          top:-.1rem;
        }
      }
    }
    // .name-desc {
    //   color: #4A4B4C;
    //   font-size: .24rem;
    //   line-height: .46rem;
    //   margin-top:.2rem;
    // }
    .view-more {
      color: #06ba8e;
      font-size: .28rem;
      line-height: .28rem;
      margin: .35rem 0 .22rem;
      img {
        width: 0.13rem;
        height: 0.25rem;
        margin-left: .16rem;
        margin-top: -.04rem;
        vertical-align: middle;
      }
    }
  }

  .items-wrap {
    background: #fff;
  }
  .items {
    height: 5.76rem;
    margin-bottom: .4rem;
    overflow: hidden;
    &.introExpanded {
      height: auto;
      margin-bottom: 0;
    }
    .item {
      background-color:#FFFFFF;
      padding:0rem 0 .4rem .38rem;

      &:first-child{
        padding-top: .45rem;
      }

      img{
        display: block;
        margin-left: -.32rem;
        height: 2.87rem;
        margin-top: .36rem;
      }
      /* margin-bottom:.1rem; */

      .content{
        color: #4A4B4C;
        font-size: .28rem;
        margin-top: .24rem;
        line-height: .46rem;
        padding-right: .32rem;
        text-align: justify;
      }
      .desc.collapse{
        @include setLineClamp(2);
      }
    }
  }
  .items .title, .webmd-article .header{
    line-height: .36rem;
    font-weight: 700;
    font-size: .34rem;
    color: #0d0d0f;
    margin-left: -.4rem;
    &:before{
      content:" ";
      display: inline-block;
      width: .12rem;
      height:.36rem;
      background-color: #D5101A;
      vertical-align: bottom;
      margin-right: .2rem;
      // border-top-right-radius: 2px;
      // border-bottom-right-radius: 2px;
    }
  }

  .footer {
    height: 1rem;
    line-height: 1rem;
    font-size: .28rem;
    text-align: center;
    color: #80888c;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 .06rem .08rem 0 rgba(227,228,228,0.60);
    &:before{
      @include setBottomLine(#E0E4E7);
      top:0;
    }
    // padding-bottom: .56rem;
    img{
      width: .25rem;
      height: .13rem;
    }
  }
}
.cancer-members{
  padding-bottom: .2rem;
  background: #fff;
  margin-top: .28rem;
  padding-top: .5rem;
  .max-title {
    font-size: .36rem;
    line-height: 1;
    text-align: center;
    font-weight: 700;
  }
  .member-item-01{
    padding-top: .51rem;
    .load-more-arrow{
      margin-top:.2rem;
      padding-bottom:.2rem;
    }
    .title{
      border-left: .08rem solid #D5101A;
      text-indent: .2rem;
      line-height: .36rem;
      font-size: .36rem;
      color: #0D0D0F;
      font-weight: 700;
      span{
        font-size: .24rem;
        color: #b8bfc4;
        font-weight: 500;
      }
    }
    ul{
      list-style: none;
    }
    .info{
      flex:1;
      overflow:hidden;
      .name{
        font-size:.32rem;
        color: #494949;
        line-height:.45rem;
        display:flex;
        align-items:center;
        span{
          color: #B8BFC4;
          font-size:.24rem;
          margin-left:.2rem;
        }
      }
      .desc{
        font-size:.24rem;
        line-height:.32rem;
        color: #B8BFC4;
      }

    }
    .cairman{
      margin-top:.52rem;
      padding:0 .32rem;
      li{
        display:flex;
        align-items:center;
        font-size: 0;
        position:relative;
        &:not(:first-child){
          margin-top:.4rem;
        }
        img{
          height:1.1rem;
          width:1.1rem;
          border-radius:50%;
          margin-right:.3rem;
        }
        
      }
    }
    .viceChairman{
      padding:0 .32rem;
      display:flex;
      flex-flow:wrap;
      li{
        position:relative;
        width:50%;
        display:flex;
        align-items:center;
        font-size: 0;
        margin-top:.5rem;
        img{
          height:.7rem;
          width:.7rem;
          border-radius:50%;
          margin-right:.12rem;
        }
        .info{
          .name{
            font-size:.28rem;
            line-height:.4rem;
            span{
              margin-left:.12rem;
            }
          }
        }
      }
    }
  }
  .cancer-committee{
    padding-top:.52rem;
    &:first-child{
      padding-top:.6rem;
    }
    .title{
      display:flex;
      align-items:center;
      padding-right:.3rem;
      text-indent:0;
      font-weight:normal;
      .title-name{
        flex:1;
        display:flex;
        align-items:center;
        padding-left:.2rem;
        font-weight:700;
        .num{
          font-size:.24rem;
          color: #B8BFC4;
          font-weight:normal;
        }
      }
      .detail{
        position:relative;
        font-size:.24rem;
        color: #B8BFC4;
      }
      .arrow {
          border-top: 1px solid #B8BFC4;
          border-right: 1px solid #B8BFC4;
          transform: rotate(45deg);
          width: .14rem;
          height: .14rem;
          margin-left: .1rem;
      }
    }
    .editor-member{
      padding:0 .32rem;
      display:flex;
      flex-flow:wrap;
      li{
        width:33.33%;
        margin-top:.3rem;
        .info{
          .name{
            font-size:.28rem;
            line-height:.4rem;
            span{
              margin-left:.12rem;
            }
          }
        }
      }
    }
  }
  .avatar-hide {
    display: flex;
    flex-wrap: wrap;
    padding: .6rem 0 0;
    .title{
      border-left: .08rem solid #D5101A;
      text-indent: .2rem;
      line-height: .36rem;
      font-size: .36rem;
      color: #0D0D0F;
      font-weight: 700;
      span{
        font-size: .24rem;
        color: #b8bfc4;
        font-weight: 500;
      }
    }
    .member-item-02 {
      .viceChairSecretaryGeneral {
        padding: .16rem 0 .46rem;
        display: flex;
        flex-flow: wrap;
        li {
          width: 3.75rem;
          font-size: .24rem;
          position: relative;
          margin: .14rem 0;
          list-style: none;
          &:nth-child(2n) {
            &::before {
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              content: " ";
              height: .52rem;
              border-left: 1px solid #D8D8D8;
            }
          }
          .info {
            margin: 0 .1rem 0 .28rem;
            &>p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #b8bfc4;
            }
            .name {
              font-size: .32rem;
              font-weight: 700;
              color: #000;
            }
          }
        }
      }
    }
  }
  .load-more-arrow {
    padding: .2rem 0 .4rem;
    width: inherit;
    height: .13rem;
    background: url(~src/assets/images/mobile/doctor/arrow-down.png) no-repeat center .2rem;
    background-size: .25rem .13rem;
    &.expand{
      background: url(~src/assets/images/mobile/doctor/arrow-up.png) no-repeat center .2rem;
      background-size: .25rem .13rem;
    }
  }
}