@import '~src/assets/style/common-util';

.container {
  background: #f3f3f3;
  width: 7.5rem;
  margin: 0 auto;
  position: relative;
  padding-top:.88rem;
}
.patient{
	padding:.28rem;
	.patient-info{
		padding:.18rem .32rem 0 .32rem;
		border-radius:.06rem;
		box-shadow: 0 .06rem .08rem 0 rgba(227,228,228,0.60);
		background:{
			image:url(~src/assets/images/mobile/patient/info-bg.png);
			repeat:no-repeat;
			size:100% auto;
			position:center top;
			color:#FEFEFE;
	    }
	    .title{
	    	opacity: 0.68;
	    	font-size:.24rem;
	    	color: #FFFFFF;
	    	line-height:.52rem;
	    	text-align:center;
	    }
	    .info{
	    	margin-top:.28rem;
	    	display:flex;
	    	align-items:center;
	    	padding-bottom: .44rem;
	    	.img{
	    		width:.82rem;
	    		height:.82rem;
	    		text-align:center;
	    		font-size:0;
	    		border: 2px solid #FFFFFF;
	    		opacity: 0.56;
	    		margin-right:.12rem;
	    		border-radius:100%;
	    		box-sizing:border-box;
	    		&:after{
	    			content:'';
	    			height:100%;
	    			display: inline-block;
	    			vertical-align:middle;
	    		}
	    		img{
	    			height:.72rem;
	    			width:.72rem;
	    			border-radius:100%;
	    			vertical-align:middle;
	    		}
	    	}
	    	.detail{
	    		flex:1;
	    		.name{
	    			display:flex;
	    			align-items:center;
	    			font-size:.36rem;
	    			color: #FFFFFF;
	    			line-height: .52rem;
	    			span{
	    				margin-left:.08rem;
	    				background: #FFFFFF;
	    				border-radius:.06rem;
	    				font-size:.22rem;
	    				color: #06BA8E;
	    				line-height:.28rem;
	    				padding:0 .08rem;
	    			}
	    			.follow {
	    			  margin-left:.12rem;
	    			  width:1.2rem;
				      line-height: 0.4rem;
				      font-size: 0.24rem;
				      text-align: center;
				      color: #FFFFFF;
				      border-radius: 0.24rem;
				      position:relative;
				      &:after{
				      	opacity: 0.6;
				      	@include setOnePxBorder(#FFFFFF,.48rem);
				      }
				      &:active {
				        background: rgba(0, 0, 0, .12);
				      }
				      &.followed {
				        background: #f8fbfb;
				        color: rgb(21, 166, 140);
				        &:active {
				          background: #f8fbfb;
				        }
				      }
				    }
	    		}
	    		.fans{
	    			opacity: 0.68;
	    			font-size:.22rem;
	    			color: #FFFFFF;
	    			line-height:.32rem;
	    		}
	    	}
	    }
	    .disease,.intro{
	    	margin-top:.6rem;
	    	.item-title{
	    		opacity: 0.68;
	    		font-size:.26rem;
	    		color: #80888C;
	    		line-height:.32rem;
	    		margin-bottom:.24rem;
	    	}
	    	.item-desc{
	    		font-size:.28rem;
	    		color: #303135;
	    		line-height:.52rem;
	    		&.clamp1{
	    			@include setLineClamp(1);
	    			height:.52rem;
	    		}
	    	}
	    }
	    .intro{
	    	margin-top:.56rem;
	    	.footer {
			  height: 0.88rem;
			  font-size: 0;
			  text-align: center;
			  position: relative;
			  &:after{
    			content:'';
    			height:100%;
    			display: inline-block;
    			vertical-align:middle;
    		}
			  img {
			    width: 0.25rem;
			    height: 0.13rem;
			    vertical-align:middle;
			  }
			}
	    }
	}
	.paper-list{
		margin-top:.28rem;
		background:{
			image: linear-gradient(-134deg, #00C79B 0%, #0DB6A4 100%);
			repeat:no-repeat;
			size:100% .08rem;
			position:center top;
			color: #FEFEFE;
		}
		box-shadow: 0 .06rem .08rem 0 rgba(227,228,228,0.60);
		border-radius: .06rem;
		padding:.56rem 0 .32rem 0;
		.list-title{
			font-size:.32rem;
			color: #303135;
			line-height:.4rem;
			padding-left:.32rem;
		}
		.item{
			padding:.36rem .32rem;
			position:relative;
			&:not(:last-child){
				&:after{
					opacity: 0.08;
					@include setBottomLine(#000000);
				}
			}
			.title{
				font-size:.32rem;
				color: #303135;
				line-height:.4rem;
			}
			.thumb{
				display:flex;
				align-items:center;
				margin-top:.18rem;
				font-size:0;
				.icon{
					// display: inline-block;
					width:.3rem;
					height:.3rem;
					margin-right:.14rem;
					// vertical-align: middle;
					background:{
						image:url(~src/assets/images/mobile/patient/help.png);
						repeat:no-repeat;
						size:100% 100%;
						position:center;
					}
					&.helped{
						background-image:url(~src/assets/images/mobile/patient/helped.png);
					}
				}
				span{
					// display:inline-block;
					// vertical-align: middle;
					font-size:.24rem;
					color: #B8BFC4;
					// line-height:.3rem;
				}
			}
		}
	}
}