@import '~src/assets/style/common-util';
.container {
  background: #f8fbfb;
  width: 7.5rem;
  margin: 0 auto;
  font-size: .28rem;
  color: #80888c;
}

.logo{
  overflow: hidden;
  height: 4rem;
  .icon{
    display: block;
    margin: 1.1rem auto .33rem auto;
    width: 1.46rem;
    height: 1.46rem;
  }
  .logo-desc{
    text-align: center;
    font-size: .24rem;
    //margin-bottom: .9rem;
  }
}

.form{
  width: 5.56rem;
  margin: 0 auto;
  font-size: .28rem;
  .input{
    height: .9rem;
    position: relative;
    &:after {
      @include setBottomLine();
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    input{
      outline: none;
      border: none;
      background: transparent;
      font-size: .28rem;
      &::-webkit-input-placeholder {
        color:#b8bfc4;
      }
    }
    .btn-code{
      width: 1.6rem;
      text-align: right;
      border-left: .015rem solid $border-color;
      color: #80888c;
      &.disable{
        color: #b8bfc4;
      }
    }
  }
  .message{
    font-size: .24rem;
    height: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .error{
      color: #ff1f1f;
    }
    .info{
      color: #80888c;
    }
  }
  .btn-login{
    margin: .25rem auto .2rem auto;
    display: block;
    height: .8rem;
    line-height: .8rem;
    border-radius: .4rem;
    background: #03b98c;
    font-size: .32rem;
    text-align: center;
    color: #fff;
  }
}

//弹出框，后面设计成组件
.alert{
  margin: auto;
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  font-size: .34rem;
  background: rgba(96, 106, 107, .9);
  border-radius: .3rem;
  box-shadow: 0 0 0.36rem rgba(0, 0, 0, 0.4);
  transition:all 0.5s linear;
  visibility:hidden;
  opacity:0;
  &.show{
    visibility:visible;
    opacity:1;
  }
  .icon{
    display: block;
    width: .75rem;
    height: .51rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAAzCAMAAADo4QV0AAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAzxOYAQmsvgb5oOGQEQR04cts4wAAAKdJREFUSMft0jsSwzAIRVEnNoqQP2H/q407itfEcyl1e53RAEtF23ffD6uh1rgbdVS4lVERVke1Our1ntSkJjWpv6hrq6LO5n70ml+1uGu9grKIxODYzRPDGxyRGD0G+yQGKMEApRigFAOUYoBSDFCKAUoxQCkGKMUApRigFAOUYoBSTCiCCUUwoQAmFMCEAlhSGEsKY0lxLCmOJcWx1X2cS1FXf/jgB54GIztBWh+UAAAAAElFTkSuQmCC);
    background-size: contain;
    margin: .75rem auto .3rem auto;
  }
  .msg{
    color:#fff;
    text-align: center;
  }
}

.box{
  background: #fff;
  border-radius: .16rem;
  margin: auto;
  width: 5.9rem;
  height: 3.2rem;
  font-size: .36rem;
  color: #80888c;
  text-align: center;
  position: fixed;
  top: 0;left: 0;right: 0;bottom: 0;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.28);
  .msg{
    margin: .7rem .9rem;
    font-size: .3rem;
  }
  .buttons{
    overflow: hidden;
    .btn{
      bottom: 0;
      display: inline-block;
      width: 2.95rem;
      height: .9rem;
      line-height: .9rem;
      text-align: center;
      position: absolute;
      border-top: .015rem solid #e1e6ef;
      color: #80888c;
      &.btn-ok{
        color: #01A176;
      }
      &:first-child{
        left: 0;
        border-right: .015rem solid #e1e6ef;
      }
      &:last-child{
        right: 0;
      }
    }

  }
}



