@import '~src/assets/style/common-util';
.card-container {
  padding: 0.4rem 0.36rem;
}

.card-wrapper {
  background: url(~src/assets/images/mobile/note_explain/card_bg.png) #FFFFFF no-repeat top right;
  background-size: 2.06rem .72rem;
  box-shadow: 0 0.09rem 0.19rem 0 rgba(0, 0, 0, 0.04);
  border-radius: 0.16rem;
  .drug-names {
    padding: .34rem .34rem 0;
    @include setLineClamp(2);
  }
  .name-bold {
    font-size: 0.48rem;
    font-weight: $font-medium;
    color: #0D0D0F;
  }
  .name-light {
    font-size: 0.24rem;
    color: #80888C;
  }
}

.drug-info-list {
  padding: .2rem .34rem;
  .drug-info-item {
    display: flex;
    font-size: .28rem;
    color: #000000;
    margin: .12rem 0;
    .title {
      min-width: 1.45rem;
      flex: none;
    }
    .content {
      @include setLineClamp(1);
    }
    .two-clamp {
      @include setLineClamp(2);
    }
  }
}

.drug-action-list {
  display: flex;
  justify-content: space-around;
  position: relative;
  &::before {
    @include setBottomLine($border-color, .24rem, .24rem);
    top: 0;
  }
  .drug-action-item {
    position: relative;
    padding: .34rem 0;
    img {
      width: .5rem;
      height: .5rem;
      vertical-align: middle;
      margin-right: .08rem;
    }
  }
}