$theme-color: #2F96FF; //主题色
$instrTitle_1:0.30rem; //较小
$instrCont_1:0.28rem; //较小
$instrTitle_2:0.34rem; //标准
$instrCont_2:0.32rem; //标准
$instrTitle_3:0.38rem; //较大
$instrCont_3:0.36rem; //较大
$instrTitle_4:0.40rem; //超大
$instrCont_4:0.38rem; //超大
.container {
  width: 7.5rem;
  margin: 0 auto;
  background: #F7F7F7;
  padding-top: 0.88rem;
  padding-bottom: 1rem;
}

.instr-adjust-fontsize {
  background: #FFFFFF;
  height: 0.95rem;
  font-size: $instrTitle_2;
  color: #A5A5A5;
  display: flex;
  align-items: center;
  padding: 0 0.4rem 0 0.25rem;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #E3E6EA;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    transform-origin: 0 0;
  }
}

.instr-adjust-title {
  flex: 1;
}

.arrow-down-icon {
  width: .25rem;
  height: .13rem;
  display: block;
  background: url(~src/assets/images/mobile/doctor/arrow-down.png) no-repeat left center/contain;
  transition: transform .1s linear;
}

.arrow-down-icon-rotated {
  transform: rotate(-180deg);
}

.instr-adjust-content {
  /deep/ .yd-accordion {
    background-color: inherit;
    .yd-accordion-head {
      padding: 0 0.4rem 0 0.25rem;
      height: 1.3rem;
      background-color: #FFF;
      &:after {
        border-bottom-color: #E3E6EA;
      }
    }
    .yd-accordion-content {
      transition: height .2s ease-in-out;
    }
    .yd-accordion-content:after {
      border-bottom-color: #E3E6EA;
    }
    .yd-accordion-title {
      font-size: $instrTitle_2;
      color: #1E1E1E;
      min-height: auto;
    }
    .yd-accordion-head-arrow {
      &:after {
        border: none;
        width: .25rem;
        height: .13rem;
        display: block;
        background: url(~src/assets/images/mobile/doctor/arrow-up.png) no-repeat left center/contain;
      }
    }
  }
  .instr-adjust-cont-txt {
    padding: 0.46rem 0.4rem;
    font-size: $instrCont_2;
    color: #333333;
    line-height: 1.6;
  }
}

.adjust-font-size-slider {
  padding: 1rem .6rem 1.2rem;
  /deep/ .vue-slide-bar-component {
    &.vue-slide-bar-horizontal {
      padding-top: 0px !important;
      min-height: auto !important;
    }
    .vue-slide-bar {
      background-color: #a5a5a5;
      border-radius: initial;
      cursor: none;
    }
    .vue-slide-bar-range {
      padding: 0;
    }
    .vue-slide-bar-separate {
      height: 0.25rem;
      width: 1px;
      transform: translateY(-50%);
      color: #979797 !important;
      background-color: #979797 !important;
      font-family: inherit !important;
      font-size: 0.3rem !important;
    }
    .vue-slide-bar-separate-text {
      top: 0.54rem;
    }
    .vue-slide-bar-process {
      background-color: #a5a5a5 !important;
    }
    .adjust-slider-tooltip {
      background: #FFFFFF;
      border: 2px solid $theme-color;
      display: inline-block;
      width: 0.42rem;
      height: 0.42rem;
      border-radius: 50%;
    }
    .vue-slide-bar-tooltip-top {
      top: 6px;
    }
  }
  &.adjust-slider-active1 {
    .vue-slide-bar-range {
      .vue-slide-bar-separate:nth-child(1) {
        color: $theme-color !important;
      }
    }
  }
  &.adjust-slider-active2 {
    .vue-slide-bar-range {
      .vue-slide-bar-separate:nth-child(2) {
        color: $theme-color !important;
      }
    }
  }
  &.adjust-slider-active3 {
    .vue-slide-bar-range {
      .vue-slide-bar-separate:nth-child(3) {
        color: $theme-color !important;
      }
    }
  }
  &.adjust-slider-active4 {
    .vue-slide-bar-range {
      .vue-slide-bar-separate:nth-child(4) {
        color: $theme-color !important;
      }
    }
  }
  &.adjust-font-size-slider {
    .vue-slide-bar-range {
      .vue-slide-bar-separate:nth-child(1) {
        font-size: $instrCont_1 !important;
      }
      .vue-slide-bar-separate:nth-child(2) {
        font-size: $instrCont_2 !important;
      }
      .vue-slide-bar-separate:nth-child(3) {
        font-size: $instrCont_3;
      }
      .vue-slide-bar-separate:nth-child(4) {
        font-size: $instrCont_4 !important;
      }
    }
  }
}

.fontsize-size-1 {
  .instr-adjust-fontsize {
    font-size: $instrTitle_1;
  }
  .arrow-down-icon {
    font-size: $instrTitle_1;
  }
  .instr-adjust-content {
    .yd-accordion {
      .yd-accordion-title {
        font-size: $instrTitle_1;
      }
    }
    .instr-adjust-cont-txt {
      font-size: $instrCont_1;
    }
  }
}

.fontsize-size-3 {
  .instr-adjust-fontsize {
    font-size: $instrTitle_3;
  }
  .arrow-down-icon {
    font-size: $instrTitle_3;
  }
  .instr-adjust-content {
    .yd-accordion {
      .yd-accordion-title {
        font-size: $instrTitle_3;
      }
    }
    .instr-adjust-cont-txt {
      font-size: $instrCont_3;
    }
  }
}

.fontsize-size-4 {
  .instr-adjust-fontsize {
    font-size: $instrTitle_4;
  }
  .arrow-down-icon {
    font-size: $instrTitle_4;
  }
  .instr-adjust-content {
    .yd-accordion {
      .yd-accordion-title {
        font-size: $instrTitle_4;
      }
    }
    .instr-adjust-cont-txt {
      font-size: $instrCont_4;
    }
  }
}