@import "~src/assets/style/common-util";

.select-panel-wrp{
    * {
        box-sizing: border-box;
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    .select-panel {
        position: fixed;
        z-index: 2;
        bottom: 0;
        width: 100%;
        background: #fff;
        .title{
            height: 1.05rem;
            line-height: 1.05rem;
            position: relative;
            text-align: center;
            color: #000000;
            font-size: 0;
            &:after{
                @include setBottomLine(#E5E5E5)
            }
            .back-btn{
                width: .64rem;
                height: .64rem;
                display: inline-block;
                background: url(~src/assets/images/mobile/expenseCalculator/back.png) no-repeat left center;
                background-size: .14rem auto;
                margin: auto 0;
            }
            .close-btn{
                width: .64rem;
                height: .64rem;
                background: url(~src/assets/images/mobile/expenseCalculator/close.png) no-repeat center center;
                background-size: .24rem;
                margin: auto 0;
            }
            .reset-btn{
                font-size: .28rem;
                color: #01A176;
            }
            &.title-type-0 {
                font-size: .32rem;
                .back-btn {
                    position: absolute;
                    left: .54rem;
                    top: 0;
                    bottom: 0;
                }
                .close-btn {
                    position: absolute;
                    right: .25rem;
                    top: 0;
                    bottom: 0;
                }
                .reset-btn {
                    position: absolute;
                    top: 0;
                    right: .28rem;
                }
            }
            &.title-type-1 {
                .back-btn {
                    position: absolute;
                    left: .54rem;
                    top: 0;
                    bottom: 0;
                }
                .close-btn {
                    position: absolute;
                    right: .25rem;
                    top: 0;
                    bottom: 0;
                }
                .reset-btn {
                    position: absolute;
                    left: .28rem;
                    top: 0;
                    bottom: 0;
                    font-size: .32rem;
                    color: #545A58;
                }
                .title-inner{
                    display: inline-block;
                    font-size: 0;
                    line-height: 1.38;
                    padding-top: .14rem;
                    .p-title {
                        color: #000000;
                        font-size: .32rem;
                        display: block;
                    }
                    .p-remark{
                        font-size: .24rem;
                        color: #9B9B9B;
                    }
                }
            }
        }
        .btn-wrp{
            padding: .36rem 0;
            .sure-btn{
                display: block;
                width: 6.5rem;
                height: .86rem;
                line-height: .86rem;
                background-image: linear-gradient(-134deg, #00C79B 0%, #0DB6A4 100%);
                border-radius: .08rem;
                color: #fff;
                font-size: .32rem;
                text-align: center;
                margin: 0 auto;
                position: relative;
                font-weight: 700;
                letter-spacing: .06rem;
            }            
        }
    }
}

/** 弹窗动画*/
.fadeIn-enter-active {
    transition: all 0.3s ease-in-out;
}
.fadeIn-leave-active {
    transition: all 0.3s ease-in-out;
}
.fadeIn-enter {
    transform: translateY(20%);
    opacity: 0;
}
.fadeIn-enter-to {
    transform: translateY(0);
    opacity: 1;
}
.fadeIn-leave {
    transform: translateY(0);
    opacity: 1;
}
.fadeIn-leave-to {
    transform: translateY(20%);
    opacity: 0;
}