@import '~src/assets/style/common-util';
$card-bg: #fefefe;
$card-pd: 0.4rem;
$card-shadow: 0 0.06rem 0.08rem 0 rgba(227, 228, 228, .60);
$card-border: rgba(0, 0, 0, .08);
.tree-wrapper {
  background: #fff;
  border-radius: .06rem;
  overflow: hidden;
}

.card-title {
  font-size: .36rem;
  font-weight: $font-medium;
  color: #0D0D0F;
  padding: .32rem $card-pd .11rem;
  &.only {
    padding: .54rem $card-pd .57rem;
    position: relative;
    &::after {
      @include setBottomLine($card-border);
    }
  }
}

.card-hint {
  font-size: .24rem;
  color: rgba($color: #000000, $alpha: .3);
  padding: 0 $card-pd .23rem;
  /* position: relative;
  &::after {
    @include setBottomLine($card-border);
  } */
}

.tags-l1 {
  font-size: 0;
  .tag-l1 {
    &:not(:last-child) .tag-l1-title {
      &.fold-expand::after {
        border: none;
      }
      &::after {
        @include setBottomLine($card-border, $card-pd);
      }
    }
  }
  .tag-l1-title {
    /* padding: 0.36rem $card-pd 0.36rem .96rem; */
    padding: 0.3rem .96rem 0.3rem $card-pd;
    font-size: .32rem;
    /* font-weight: $font-medium; */
    color: rgba($color: #000000, $alpha: .87);
    position: relative;
    /* &.unfoldable::before {
      display: inline-block;
      content: " ";
      width: .12rem;
      height: .12rem;
      background: #5E5E62;
      background-origin: content-box;
      border-radius: 50%;
      margin: auto;
      position: absolute;
      left: .46rem;
      top: 0;
      bottom: 0;
    }
    &.fold-expand::before,
    &.fold-collapse::before {
      display: inline-block;
      content: " ";
      width: .17rem;
      height: .17rem;
      background: url(~src/assets/images/mobile/overview_zl/arr@3x.png) no-repeat center/contain;
      margin: auto;
      position: absolute;
      left: .44rem;
      top: 0;
      bottom: 0;
      transition: transform .5s;
    }
    &.fold-collapse::before {
      transform: rotate(-90deg);
    } */
    &.fold-expand::before,
    &.fold-collapse::before {
      display: inline-block;
      content: " ";
      width: .17rem;
      height: .17rem;
      background: url(~src/assets/images/mobile/cancer/arr@3x.png) no-repeat center/contain;
      margin: auto;
      position: absolute;
      right: .5rem;
      top: 0;
      bottom: 0;
      transition: transform .2s;
      transform: rotate(180deg);
    }
    &.fold-collapse::before {
      transform: rotate(0);
    }
    .bookmark {
      position: absolute;
      top: 0;
      right: $card-pd;
    }
  }
}

.tags-l2 {
  font-size: 0;
  background: #F7F7F8;
  .tag-l2 {
    list-style-type: none;
    /* padding: 0.36rem $card-pd 0.36rem .96rem; */
    padding: 0.36rem .5rem 0.36rem $card-pd;
    font-size: .28rem;
    color: #303135;
    position: relative;
    display: flex;
    justify-content: space-between;
    &:not(:last-child)::after {
      @include setBottomLine($card-border, $card-pd);
    }
    .count {
      font-size: .24rem;
      color: #B8BFC4;
      min-width: .55rem;
      text-align: right;
    }
    .bookmark {
      position: absolute;
      top: 0;
      right: $card-pd;
    }
  }
}

.bookmark {
  width: .2rem;
  height: .3rem;
  display: block;
  background: url(~src/assets/images/mobile/overview_zl/location@3x.png) no-repeat 0 0;
  background-size: .2rem .3rem;
}