@import "~src/assets/style/common-util";

.drugs-production-trade-panel-wrp{
    * {
        box-sizing: border-box;
    }
    z-index: 2;
    .drugs-production-trade-panel{
        height: 100%;
        position: fixed;
        background: #fff;
        width: 100%;
        max-height: 77%;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 3;
        display: flex;
        flex-direction: column;
        .title{
            height: 1.05rem;
            line-height: 1.05rem;
            position: relative;
            text-align: center;
            color: #000000;
            // &:after{
            //     @include setBottomLine(#E5E5E5)
            // }
            .back-btn{
                width: .64rem;
                height: .64rem;
                display: inline-block;
                background: url(~src/assets/images/mobile/expenseCalculator/back.png) no-repeat left center;
                background-size: .14rem auto;
                position: absolute;
                left: .54rem;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
            .close-btn{
                width: .64rem;
                height: .64rem;
                background: url(~src/assets/images/mobile/expenseCalculator/close.png) no-repeat center center;
                background-size: .24rem;
                position: absolute;
                right: .25rem;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
            .reset-btn{
                font-size: .28rem;
                color: #06BA8E;
                position: absolute;
                top: 0;
                right: .28rem;
            }
        }
        .search-wrp{
            padding: .28rem 0 .48rem;
            position: relative;
            &:after{
                @include setBottomLine(#E5E5E5)
            }
            .search-bar{
                width: 6.7rem;
                height: .7rem;
                line-height: .7rem;
                border-radius: .35rem;
                margin: 0 auto;
                background-color: #eff1f2;
                text-align: center;
                span {
                    line-height: .7rem;
                    padding-left: .42rem;
                    display: inline-block;
                    font-size: .26rem;
                    color: #B8BFC4;
                    @include setBackground('~src/assets/images/mobile/expenseCalculator/search.png', transparent,no-repeat, left center, .28rem);
                    background-position: left center;
                }
            }
        }
        // 内容
        .panel-content{
            flex: 1;
            display: flex;
            flex-direction: column;
            font-size: .28rem;
            .content{
                flex: 1;
                display: flex;
                flex-direction: column;
                .selection-title{
                    position: relative;
                    color: #01A176;
                    .left{
                        height: 1rem;
                        line-height: 1rem;
                        width: 42%;
                        display: inline-block;
                        padding-left: .4rem;
                    }
                    .right{
                        height: 1rem;
                        line-height: 1rem;
                        width: 58%;
                        display: inline-block;
                        padding-left: .8rem;
                    }
                    // &:after{
                    //     @include setBottomLine(#E5E5E5);
                    // }
                }
                .selection{
                    flex: 1;
                    display: flex;
                    font-size: .3rem;
                    ul {
                        display: inline-block;
                        position: static;
                        z-index: 10;
                        // vertical-align: top;
                        overflow-y: auto;
                        -webkit-overflow-scrolling: touch;
                        // &::-webkit-scrollbar {
                        //     display: none;
                        // }
                        &.selection-production-ul{
                            width: 42%;
                            background-color: #f4f4f4;
                        }
                        &.selection-trade-ul{
                            width: 58%;
                        }
                        .selection-production-ul-inner{
                            min-height: 101%;
                            min-height: calc(100% + 1px);
                        }
                        li {
                            list-style-type: none;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .selection-production-ul{
                        .selection-production-li{
                            height: 1rem;
                            line-height: 1rem;
                            color: #000;
                            padding-left: .38rem;
                            &.selected{
                                // color: #01A176;
                                font-weight: 700;
                                background-color: #fff;
                                position: relative;
                                &::before {
                                    content: ' ';
                                    display: inline-block;
                                    width: .08rem;
                                    height: .3rem;
                                    background-color: #06BA8E;
                                    position: absolute;
                                    left: 0;
                                    top: .35rem;
                                }
                            }
                        }
                    }
                    .selection-trade-ul{
                        .selection-trade-li{
                            height: 1rem;
                            line-height: 1rem;
                            padding-left: .8rem;
                            color: #000;
                            &.selected{
                                font-weight: 700;
                                color: #06BA8E;
                            }
                        }
                    }
                }
            }
        }
    }
}

/** 弹窗动画*/
.fadeIn-enter-active {
    transition: all 0.3s ease-in-out;
}
.fadeIn-leave-active {
    transition: all 0.3s ease-in-out;
}
.fadeIn-enter {
    transform: translateY(20%);
    opacity: 0;
}
.fadeIn-enter-to {
    transform: translateY(0);
    opacity: 1;
}
.fadeIn-leave {
    transform: translateY(0);
    opacity: 1;
}
.fadeIn-leave-to {
    transform: translateY(20%);
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}