@import '~src/assets/style/common-util';

.container {
  width: 7.5rem;
  margin: 0 auto;
  position: relative;
  background: #f3f3f3;
}
.list-body {
  margin-top: .88rem;
  position:relative;
  .paper-item{
    margin-bottom: .2rem;
    box-shadow: 0 .03rem .05rem rgba(0, 0, 0, 0.05);
    padding: .64rem .32rem;
    position: relative;
    background: #fcfcfc;
    display: flex;
    .info{
      flex:1;
      display: flex;
      justify-content: space-between;
      flex-flow: column;
      overflow: hidden;
      .title{
        line-height: .45rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: .36rem;
        font-weight: bold;
        color: #0d0d0f; //margin-bottom: .3rem;
        margin-bottom: .2rem;
      }
      .desc{
        font-size: .32rem;
        line-height: .55rem;
        color: #676d70;
        @include setLineClamp(2);
      }
    }
    .img{
      font-size: 0;
      margin-left:.2rem;
      img{
        width: 2.42rem;
        height: 1.56rem;
      }
    }
  }
  .empty {
    position: absolute;
    width: 100%;
    top: 4.04rem;
    text-align: center;
    font-size: .32rem;
    color: #b9c0cb;
  }
}
