@import '~src/assets/style/common-util';

.container {
  background: $background;
  width: 7.5rem;
  margin: 0 auto;
  padding-top:.88rem;
  overflow-x:hidden;
}

.overview_wm{
  .tmenu:after{
    @include setBottomLine(#EEEEEE);
    z-index: 1;
  }
  .disease{
    height:1.28rem;
    display:flex;
    align-items:center;
    padding-right:.32rem;
    background: #FFFFFF;
    .title{
      border-left: .12rem solid #06BA8E;
      text-indent: .22rem;
      font-size:.34rem;
      color: #0D0D0F;
      flex:1;
    }
    .enter{
      font-size:.28rem;
      color: #06BA8E;
    }
  }
  .topicdocs{
    width:100%;
    border-radius:0;
    margin:0;
    box-shadow: none;
  }
}
