@import '~src/assets/style/common-util';

$page-bg: #f3f3f3;
$block-bg: #fefefe;
$border-color: #e3e6ea;
$bottom-shadow: 0 0.06rem 0.08rem 0 rgba(227,228,228,0.60);

.container {
  background: $page-bg;
  width: 7.5rem;
  margin: 0 auto;
}

.md {
  p {
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ol, ul {
    padding-left: 0;
    list-style-position: inside;

    li:first-child {
      margin-top: 0;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.profile {
  background: $block-bg;
  margin: 1.16rem .28rem .28rem;
  box-shadow: $bottom-shadow;
  border-radius: 0.06rem;
  overflow: hidden;
}

.profile-info {
  text-align: center;
  font-size: 0.24rem;
  color: #fff;
  background: url(~src/assets/images/mobile/hospital/bg.png) no-repeat center/cover;
  position: relative;

  &.masked {
    &::before {
      content: " ";
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.8;
      background: url(~src/assets/images/mobile/hospital/mask_s.png) repeat-x center;
    }
  }

  .info-detail {
    padding: 0.76rem 0.32rem 0.25rem;
    position: relative;
  }

  .depart-name {
    font-size: 0.46rem;
    position: relative;
  }

  .hospital {
    font-size: 0.24rem;
    margin: .2rem 0 0;

    .logo {
      width: 0.36rem;
      height: 0.36rem;
      border-radius: 50%;
      margin: 0 .12rem .05rem 0;
      vertical-align: middle;
    }
  }

  .tag-list {
    font-size: 0;
    margin-top: .65rem;
    position: relative;

    &::after {
      opacity: 0.2;
      @include setBottomLine(#FFFFFF);
      top: -.23rem;
    }

    p {
      @include setLineClamp(1);
    }

    .type {
      display: inline-block;
      line-height: 0.4rem;
      padding: 0 0.2rem;
      position: relative;
      font-size: 0.24rem;

      &:not(:first-child):after {
        @include setSeperator(1px, 0, #fff);
        height: 2em;
      }

    }
  }
}

.profile-feature, .profile-intro, .profile-doctor {
  padding: 0 .32rem;
  .header-title {
    padding: .55rem 0 .24rem;
    opacity: 0.68;
    font-size: .26rem;
    color: #80888C;
  }
  .content {
    font-size: .28rem;
    color: #303135;
    line-height: .52rem;
  }
}

.profile-doctor {
  .doctor-list {
    display: flex;
    flex-wrap: wrap;
    .doctor-item {
      width: 50%;
      font-size: .24rem;
      display: flex;
      align-items: center;
      position: relative;
      .avatar {
        width: .72rem;
        height: .72rem;
        border-radius: 50%;
      }
      .info {
        width: 80%;
        margin: .18rem .12rem;
      }
      .name {
        font-size: .28rem;
        color: #303135;
      }
      .doctor-title {
        font-size: .24rem;
        color: #80888c;
      }
    }
  }
}

.load-more-arrow {
  padding: .2rem 0 .4rem;
  width: inherit;
  height: .13rem;
  background: url(~src/assets/images/mobile/doctor/arrow-down.png) no-repeat center .2rem;
  background-size: .25rem .13rem;
  &.expand{
    background: url(~src/assets/images/mobile/doctor/arrow-up.png) no-repeat center .2rem;
    background-size: .25rem .13rem;
  }
}

.depart-article {
  background: $block-bg;
  margin: .28rem .28rem .73rem;
  box-shadow: $bottom-shadow;
  border-radius: 0.06rem;

  .paper {
    background: $block-bg;
  }
}

.tags {
  height: .96rem;
  overflow: hidden;
  position: relative;
  &::before {
    @include setBottomLine;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    display: none;
  }

  .tag-list {
    height: 1.08rem;
    list-style: none;
    font-size: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    li {
      height: .96rem;
      padding: 0.31rem 0.59rem;
      box-sizing: border-box;
      display: inline-block;
      font-size: 0.28rem;
      color: #80888C;
      text-align: center;
      position: relative;

      &:not(:first-child) {
        a:after {
          @include setSeperator(1px, 0, #000);
          height: 2em;
          opacity: .08;
        }
      }

      &.active {
        color: #06BA8E;

        span {
          position: relative;

          &::after {
            position: absolute;
            content: "\20";
            bottom: -.25rem;
            left: 0;
            right: 0;
            height: 0.06rem;
            background-color: currentColor;
          }
        }
      }
    }
  }
}

