@import '~src/assets/style/common-util';
.disease-container {
  padding: .4rem .36rem;
}

.disease-wrapper {
  background: url(~src/assets/images/mobile/note_explain/card_bg.png) #FFFFFF no-repeat top right;
  background-size: 2.06rem .72rem;
  box-shadow: 0 0.09rem 0.19rem 0 rgba(0, 0, 0, 0.04);
  border-radius: 0.16rem;
  padding: 0.32rem 0.25rem 0.22rem;
  .brief {
    @include setLineClamp(2);
    .name {
      font-size: 0.48rem;
      font-weight: $font-medium;
      color: #0D0D0F;
    }
    .alias {
      font-size: 0.24rem;
      color: #80888C;
    }
  }
  .desc {
    font-size: 0.28rem;
    color: #303435;
    @include setLineClamp(3);
    margin-top: 0.17rem;
    &.two-clamp {
      @include setLineClamp(2);
    }
  }
}

.disease-tabs {
  margin-top: .25rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  &::before {
    @include setBottomLine(#E3E6EA);
    top: 0;
  }
  .disease-tab {
    width: 25%;
    min-height: 1.02rem;
    padding-top: .24rem;
    font-size: 0;
  }
  img {
    margin: 0 0 .15rem;
    width: .48rem;
    height: .48rem;
  }
  .name {
    font-size: .26rem;
    color: #80888C;
  }
}

.tag-list {
  list-style: none;
  font-size: 0;
  @include setLineClamp(1);
  padding-bottom: 0.04rem;
  li {
    position: relative;
    display: inline-block;
    font-size: 0.26rem;
    color: #B8BFC4;
    line-height: 0.4rem;
    padding: 0 0.1rem;
    margin: 0.16rem 0.16rem 0 0;
    &:after {
      @include setOnePxBorder(currentColor, 0.16rem);
    }
  }
}