@import '~src/assets/style/common-util';

@mixin setBackground($url) {
  background: {
    image: url($url);
    repeat: no-repeat;
    position: center;
    size: contain;
  }
}

.container {
  background: #F3F3F3;
  width: 750px;
  margin: 0 auto;
  padding-top: 170px;
  overflow-x: hidden;
}