@import '~src/assets/style/common-util';

.container {
  width: 7.5rem;
  margin: 0 auto;
  position: relative;
  background: #f3f3f3;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: .88rem;
  *{
    box-sizing: border-box;
  }

  // 头部tab
  .tab-header-ul{
    width: 100%;
    display: flex;
    // box-shadow: 0 .06rem .08rem 0 rgba(227,228,228,0.60);
    background: #fff;
    position: fixed;
    z-index: 2;
    top: .88rem;
    .tab-header-li{
        list-style: none;
        flex: 1;
        height: .83rem;
        line-height: 1;
        position: relative;
        text-align: center;
        color: #80888c;
        font-size: .32rem;
        span{
        padding-top: .18rem;
        display: inline-block;
        height: .83rem;
        position: relative;
        }
        &.active {
          color: #06BA8E;
          font-weight: 700;
          span {
              &:after {
                  position: absolute;
                  content: "\20";
                  bottom: 0;
                  left: 0;
                  right: 0;
                  height: 0.06rem;
                  background-color: currentColor;
              }
          }
        }
    }
  }

  // toast
  .toast-msg{
    position: fixed;
    padding: .2rem .32rem;
    font-size: .36rem;
    background: rgba(48, 52, 53, 0.98);
    border-radius: .08rem;
    box-shadow: 0 0.08rem 0.28rem 0 rgba(0, 0, 0, 0.16);
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 5;
    font-size: 0;
    .success-btn{
        display: inline-block;
        width: .32rem;
        height: .32rem;
        background-image: url(~src/assets/images/mobile/expenseCalculator/submit-succ.png);
        background-size: .32rem;
        vertical-align: middle;
        margin-right: .12rem;
    }
    .msg{
        font-size: .26rem;
        color: #fff;
        text-align: center;
        display: inline;
        vertical-align: middle;
    }
  }
  .toast-fade-enter-active {
      transition: all 0.3s ease-in-out;
  }
  .toast-fade-leave-active {
      transition: all 0.3s ease-in-out;
  }
  .toast-fade-enter {
      opacity: 0;
  }
  .toast-fade-leave-active {
      opacity: 0;
  }


}