@import '~src/assets/style/common-util';
.container {
	width: 7.5rem;
	margin: 0 auto;
	position: relative;
	background: #fff;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-top: .88rem;
	*{
	  box-sizing: border-box;
	}
	ul, li {
		list-style-type: none;
	}
}

#video_compilation_topic{
	.section{
		.section-title{
			padding: .46rem 0 .4rem;
			display: flex;
			justify-content: space-between;
			.title{
				font-size: .36rem;
				line-height: 1;
				font-weight: 700;
				color: #0D0D0F;
			}
			.disease-page-btn{
				font-size: .28rem;
				color: #0ebc92;
				display: inline-block;
				position: relative;
			}
		}
	}
	.section_video{
		padding: 0 .3rem .5rem;
		position: relative;
		.step-ul{
			overflow:hidden;
			overflow-x:auto;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
			font-size:0;
			li{
				display:inline-block;
				height:1.6rem;
				width:2.4rem;
				position:relative;
				vertical-align:top;
				background:#0DC9A8;
				.title{
					padding-top:.36rem;
					text-align:center;
					font-size:.3rem;
					color: #FFFFFF;
					opacity: 0.7;
				}
				.story-indicator{
					position:absolute;
					bottom:.44rem;
					left:0;
					right:0;
					.left-line{
						float:left;
						width:50%;
						height:.04rem;
						opacity: 0.5;
						background: #FFFFFF;
					}
					.right-line{
						float:right;
						width:50%;
						height:.04rem;
						opacity: 0.5;
						background: #FFFFFF;
					}
					.circle{
						position:absolute;
						height:.16rem;
						width:.16rem;
						border-radius: 50%;
						background:rgba(255,255,255,0.70);
						opacity: 0.8;
						border: .02rem solid #0DC9A8;
						left:50%;
						margin-left:-.08rem;
						top:-.07rem;
						z-index:1;
					}
				}
				&.active{
					width:2.74rem;
					margin-bottom:.14rem;
					background:{
						color:#0CB7A3;
						size:2.74rem 1.6rem;
						position:left top;
						repeat:no-repeat;
					}
					&:after{
						position:absolute;
						content:"\20";
						width:0;
						height:0;
						border-left:.16rem solid transparent;
						border-right:.16rem solid transparent;
						border-top:.16rem solid #0CB7A3;
						left:50%;
						margin-left:-.16rem;
						bottom:-.14rem;
					}
					.circle{
						background: #FFFFFF;
						border: .03rem solid #0CB7A3;
						height:.3rem;
						width:.3rem;
						opacity:1;
						margin-left:-.14rem;
						top:-.14rem;
						&:after{
							position:absolute;
							content:"\20";
							height:.12rem;
							width:.12rem;
							border-radius: 50%;
							background:#0CB7A3;
							left:.07rem;
							top:.06rem;
						}
					}
				}
			}
		}
		.step-wrap{
			margin:.12rem -.3rem;
			height:1.36rem;
			overflow:hidden;
			background:{
				image:url(~src/assets/images/mobile/video_compilation_topic/step_bg.png);
				repeat:no-repeat;
				size:100%;
				position:center;
				color:#3ED6B3;
			}
			&.fixed{
				position:fixed;
				left:0;
				right:0;
				margin:0;
				height:.72rem;
				background:#3ED6B3;
				top:.88rem;
				z-index:3;
				ul{
					height:.84rem;
					li{
						width:2.5rem;
						height:.72rem;
						.title{
							line-height:.72rem;
							background:#3ED6B3;
							padding-top:0;
							opacity:1;
							position:absolute;
							z-index:1;
							left:50%;
							transform: translateX(-50%);
							color:#8de6d2;
							padding:0 .04rem;
						}
						.story-indicator{
							bottom:.36rem;
							.circle{
								display:none;
							}
						}
						&.active{
							background:linear-gradient(-180deg, #01BFA9 0%, #08CDB7 100%);
							.title{
								opacity:1;
								background:inherit;
								color: #FFFFFF;
							}
						}
					}
				}
			}
			ul{
				overflow:hidden;
				overflow-x:auto;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
				font-size:0;
				height:1.48rem;
				li{
					display:inline-block;
					width:2.5rem;
					height:1.36rem;
					vertical-align:top;
					position:relative;
					.title{
						opacity:.8;
						font-size:.3rem;
						color: #FFFFFF;
						text-align:center;
						padding-top:.16rem;
					}
					.story-indicator{
						position:absolute;
						bottom:.46rem;
						left:0;
						right:0;
						opacity:.6;
						.left-line{
							float:left;
							width:50%;
							height:.02rem;
							background: #FFFFFF;
						}
						.right-line{
							float:right;
							width:50%;
							height:.02rem;
							background: #FFFFFF;
						}
						.circle{
							position:absolute;
							height:.14rem;
							width:.14rem;
							border-radius: .14rem;
							background:#FFFFFF;
							border: .02rem solid #0DC9A8;
							left:50%;
							margin-left:-.08rem;
							top:50%;
							margin-top:-.08rem;
							z-index:1;
						}
					}
					&.active{
						background:rgba(0,0,0,.1);
						.title{
							opacity:1;
						}
						.story-indicator{
							opacity:1;
							.left-line{
								opacity:.6;
							}
							.right-line{
								opacity:.6;
							}
							.circle{
								height:.52rem;
								width:.52rem;
								border-radius:unset;
								background:{
									image:url(~src/assets/images/mobile/video_compilation_topic/active_circle.png);
									repeat:no-repeat;
									size:100%;
									position:center;
									color: #38c0a1;
								}
								margin-left:-.26rem;
								margin-top:-.26rem;
								border:unset;
							}
						}
					}
				}
			}
		}
		.doctor-ul {
			max-height: .94rem;
			overflow: hidden;
			transition: all 0.3s ease-in-out;
			&.is-collapsed{
				max-height: 10rem;
			}
			.doctor-li {
				width: 50%;
				display: inline-block;
				position: relative;
				height: .94rem;
				padding-left: 1.12rem;
				padding-top: .1rem;
				margin-top: .3rem;
				padding-right: .2rem;
				&:nth-of-type(-n+2) {
					margin-top: 0;
				}
				.doctor-img{
					width: .94rem;
					height: .94rem;
					border-radius: .47rem;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
				}
				.doctor-name{
					width: 100%;
					color: #303435;
					font-size: .28rem;
					display: block;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					font-weight: 700;
				}
				.doctor-hospital{
					width: 100%;
					color:#CCD1D5;
					font-size: .24rem;
					display: block;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					margin-top: .05rem;
				}
			}
		}
		.collapse-btn{
			height: .8rem;
			line-height: .8rem;
			font-size: .28rem;
			text-align: center;
			color: #80888c;
			position: relative;
			background-color: #FFFFFF;
			margin-top: .26rem;
			margin-bottom: .2rem;
			// &:before{
			//   @include setBottomLine(#E0E4E7);
			//   top:0;
			// }
		}
		.video-list{
			// margin-top:.12rem;
			.video-item{
				.title{
					padding-top:.4rem;
					font-size:.32rem;
					color: #0D0D0F;
					line-height:.36rem;
					margin-bottom:.3rem;
					font-weight:600;
				}
			}
		}
	}
}