@import '~src/assets/style/common-util';
.container {
	width: 7.5rem;
	margin: 0 auto;
	position: relative;
	background: #fff;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-top: .88rem;
	*{
	  box-sizing: border-box;
	}
	ul, li {
		list-style-type: none;
	}
}

#video_compilation{
	.list-block-tab-alpha {
        font-size: .26rem;
        color: #01A176;
        background: #F3F3F3;
        // opacity: .96;
        position: fixed;
		top: .88rem;
		left: 0;
        line-height: .46rem;
        text-indent: 0.3rem;
        z-index: 2;
		width: 7.5rem;
		font-weight: 700;
    }
	.section{
		.section-title{
			font-size: .36rem;
			line-height: 1;
			font-weight: 700;
			color: #0D0D0F;
			padding: .4rem 0;
		}
	}
	/*--名家视频合集--*/
	.section_cancer{
		padding: 0 .3rem;
		.video-ul{
			display: block;
			.video-li {
				display: inline-block;
				height: 3.22rem;
				width: 3.34rem;
				margin-right: .2rem;
				position: relative;
				margin-top: .3rem;
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				&:nth-of-type(1) {
					margin-top: 0;
				}
				&:nth-of-type(2) {
					margin-top: 0;
				}
				.top{
					position: relative;
					width: 100%;
					height: 2.18rem;
					.video-img{
						width: 100%;
						height: 100%;
						border-radius: .08rem;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
					}
					.time{
						// background: rgba(0,0,0,0.5) url(~src/assets/images/mobile/video_compilation/time-icon.png) no-repeat left .22rem center;
						// background-size: .12rem auto;
						// border-radius: .22rem;
						// display: inline-block;
						// height: .44rem;
						// position: absolute;
						// right: .14rem;
						// bottom: .14rem;
						// z-index: 2;
						// color: #fff;
						// font-size: .24rem;
						// line-height: .44rem;
						// padding: 0 .22rem 0 .42rem;
						// transform: scale(0.8);
						// transform-origin: right bottom;

						&::before{
							display: inline-block;
							vertical-align: middle;
							content: " ";
							width: .08rem;
							height: .09rem;
							margin: -.05rem .05rem 0 0;
							background: url(~src/assets/images/mobile/video_compilation/time-icon.png) no-repeat 50%/contain;
						}
						position: absolute;
						bottom: .14rem;
						right: .14rem;
						font-size: .18rem;
						color: #fff;
						background: rgba(0,0,0,.1);
						-webkit-border-radius: 1rem;
						border-radius: 1rem;
						padding: .075rem .1rem;
						text-align: center;
						z-index: 1;
					}
				}
				.bottom{
					font-size: .28rem;
					line-height: .4rem;
					.video-title{
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
						padding: .14rem 0 .04rem;
						font-weight: 600;
						font-size: .28rem;
						color: #303435;
					}
					.video-title-bottom{
						white-space: nowrap;
						overflow: hidden;
						.video-author{
							display: inline-block;
							vertical-align: middle;
							margin-right: .1rem;
						}
						.video-tag-ul{
							display: inline-block;
							vertical-align: middle;
							.video-tag-li {
								list-style: none;
								padding: 0 0.1rem;
								display: inline-block;
								position: relative;
								height: .36rem;
								line-height: .36rem;
								font-size: 0.26rem;
								margin: 0 0.12rem 0 0;
								color: #b8bfc4;
								&:after {
								  content: "";
								  position: absolute;
								  top: 0;
								  left: 0;
								  border-radius: 0.12rem;
								  border: 1px solid #b8bfc4;
								  box-sizing: border-box;
								  width: 200%;
								  height: 200%;
								  transform: scale(0.5);
								  transform-origin: left top;
								}
							}
						}
					}
				}
				.btn-link{
					z-index: 2;
				}
			}
		}
	}
	/*--推荐专家--*/
	.section_expert{
		padding: 0 .3rem;
		margin-top: .42rem;
		.expert-ul{
			// padding: 0 .13rem;
			.expert-li {
				margin-right: .2rem;
				position: relative;
				width: 2.14rem;
				display: inline-block;
				margin-top: .28rem;
				&:nth-of-type(-n + 3) {
					margin-top: 0;
				}
				.expert-item{
					width: 100%;
					display: inline-block;
					text-align: center;
				}
				&:nth-of-type(3n) {
					margin-right: 0;
				}
				.expert-img {
					width: 1.69rem;
					height: 1.69rem;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
				}
				.expert-name{
					color: #000000;
					font-size: .28rem;
					line-height: .4rem;
					margin-top: .14rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
				}
				.expert-hospital{
					color: #CCD1D5;
					font-size: .24rem;
					line-height: 1;
					margin-top: .04rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
				}
				.expert-field{
					color: #CCD1D5;
					font-size: .24rem;
					line-height: 1;
					margin-top: .22rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;		
				}
			}
		}
	}

	/*--常见疾病--*/
	.section_familiar_disease{
		padding: 0 .3rem;
		margin-top: .34rem;
		.disease-ul{
			line-height: 0;
			.disease-li{
				width: 2.18rem;
				height: .7rem;
				line-height: .7rem;
				display: inline-block;
				margin-right: .18rem;
				position: relative;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 0 .1rem; 
				background: #EEF1F2;
				border-radius: .06rem;
				text-align: center;
				font-size: .28rem;
				color: #303435;
				margin-top: .18rem;
				&:nth-of-type(3n) {
					margin-right: 0;
				}
				&:nth-of-type(-n+3) {
					margin-top: 0;
				}
			}
		}
	}


	/*--A2Z--*/
	.alpha-list{
		margin-top: .4rem;
		position: relative;
		z-index: 1;
		.list-block{
			position: relative;
			z-index: 1;
			.list-block-alpha{
				background: #F7F7F7;
				height: .46rem;
				line-height: .46rem;
				color: #80888C;
				font-size: .26rem;
				padding: 0 .3rem;
			}
			.list-ul{
				.list-li{
					height: 1.22rem;
					line-height: 1.22rem;
					padding: 0 .3rem;
					position: relative;
					&::after {
						@include setBottomLine(#e3e6ea, .36rem);
					}
					&:nth-last-of-type(1) {
						&::after {
							border-bottom: none;
						}
					}
					.btn-link{
						z-index: 2;
						margin-right: .4rem;
					}
					.name{
						color: #303435;
						font-size: .3rem;
						display: inline-block;
					}
					.right{
						display: inline-block;
						position: absolute;
						right: .52rem;
						z-index: 1;
						.num{
							font-size: .28rem;
							color: #B8BFC4;
							margin-right: .16rem;
						}
						.pic-ul{
							display: inline-block;
							.pic-li{
								display: inline-block;
								.video-pic{
									display: inline-block;
									width: .58rem;
									height: .58rem;
									border: .04rem solid #fff;
									border-radius: .29rem;
									line-height: 1.22rem;
									vertical-align: middle;
									margin-right: -.14rem;
									position: relative;
								}
								@for $i from 1 through 5 {
									&:nth-last-of-type(#{$i}) {
										.video-pic{
											z-index: $i;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.list-right-alpha {
			z-index: 2;
			position: fixed;
			font-size: .2rem; // margin-right: .1rem;
			right: 0;
			color: #80888C;
			top: 55%;
			transform: translateY(-50%);
			width: 0.46rem;
			text-align: center;
			ul {
				li {
					list-style: none; // margin-bottom: .08rem;
					// border-radius: 50%;
					// width: 0.3rem;
					height: 0.3rem;
					text-align: center;
					float: right; // margin-right: 0.05rem;
					width: 100%;
					a {
						color: #80888C;
						text-decoration: none;
						display: block;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						font-weight: lighter;
						height: 100%;
					}
		
					&.on {
		
						background: {
							//color: #06BA8E;
						}
		
						a {
							&:before {
								content: "";
								display: block;
								width: 0.3rem;
								height: 0.3rem;
								border-radius: 50%;
								position: absolute;
								top: 50%;
								z-index: -1;
								/* -webkit-transform: translate(-50%); */
								transform: translate(-50%, -63%);
								left: 50%;
		
								background: {
									color: #06BA8E;
								}
							}
							color: #fff !important;
						}
					}
				}
			}
		}
	}
}