@import "~src/assets/style/common-util";
.allarticle {
    display: none;
    background: #fcfcfc;
    &.show {
        display: block;
    }
}

.allarticle-hot {
    padding: 0 .28rem;
    .hot-header {
        font-size: .26rem;
        color: #B8BFC4;
        line-height: .31rem;
        padding: .36rem 0 .2rem 0;
    }
    .hot-list {
        padding-bottom: .64rem;
        .hot-item {
            box-sizing: border-box;
            height: 1.72rem;
            padding: 0 .28rem;
            margin-bottom: .08rem;
            background: url(~src/assets/images/mobile/card/triangle1.png) #FFFFFF no-repeat center/cover;
            box-shadow: 0 .04rem .2rem 0 rgba(0,0,0,0.03);
            border-radius: .08rem;
            &:nth-child(2n) {
                background-image: url(~src/assets/images/mobile/card/triangle2.png);
            }
            &:nth-child(3n) {
                background-image: url(~src/assets/images/mobile/card/triangle3.png);
            }
            &:nth-child(4n) {
                background-image: url(~src/assets/images/mobile/card/triangle4.png);
            }
            &:last-child {
                margin-bottom: 0;
            }
            .hot-title {
                padding: .4rem 0 .16rem;
                font-size: .36rem;
                color: #0D0D0F;
                white-space: normal;
                @inlude setLineClamp(1);
            }
            .hot-tags {
                font-size: .26rem;
                color: #80888C;
                white-space: normal;
                @include setLineClamp(1);
            }
            .hot-tag {
                margin-right: .15rem;
            }
        }
    }
}

.allarticle-cate {
    padding: 0 .28rem .36rem;
    .cate-header {
        padding-bottom: .06rem;
        font-size: .26rem;
        color: #B8BFC4;
    }
    .cate-list {
        .cate-item {
          &:nth-child(2n) {
              background: url(~src/assets/images/mobile/card/trianglea.png) no-repeat right top;
              background-size: 3rem 1rem;
          }
          &:nth-child(4n) {
              background-image: none;
          }
          &:nth-child(5n) {
            background: url(~src/assets/images/mobile/card/trianglea.png) no-repeat right top;
            background-size: 3rem 1rem;
          }
          &:nth-child(3n) {
            background: url(~src/assets/images/mobile/card/triangleb.png) no-repeat left top;
            background-size: 3rem 1rem;
          }
        }
        .cate-title {
            padding-top: .3rem;
            margin-bottom: .08rem;
            font-size: .3rem;
            color: #06BA8E;
            font-weight: bold;
        }
        .cate-sublist {
            // margin-bottom: .3rem;
            font-size: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .cate-subitem {
            box-sizing: border-box;
            width: 3.44rem;
            height: 0.88rem;
            // padding: .26rem .28rem;
            padding: 0 .24rem;
            line-height: .88rem;
            // margin: 0 .06rem .06rem 0;
            margin: 0 0 .06rem 0;
            display: inline-flex;
            justify-content: space-between;
            background: #FFFFFF;
            border: .01rem solid #E3E6EA;
            border-radius: .08rem;
            vertical-align: middle;
            // &:nth-child(2n) {
            //     margin-right: 0;
            // }
            &.longer {
                width: 6.94rem;
                // margin-right: 0;
            }
        }
        .cate-name {
            // padding: .16rem 0 .08rem;
            font-size: .3rem;
            color: #0D0D0F;
            // white-space: normal;
            // text-overflow: ellipsis;
            // overflow: hidden;
            // display: -webkit-box;
            // -webkit-line-clamp: 2;
            // -webkit-box-orient: vertical;
            // min-height: .72rem;
            // box-sizing: border-box;
        }
        .cate-count {
            font-size: .22rem;
            color: #B8BFC4;
        }
        .hot {
          position: relative;
          display: inline-block;
          width: .32rem;
          height: .32rem;
          line-height: .32rem;
          margin-left: .04rem;
          margin-bottom: .04rem;
  				color: #F35B1F;
          font-size: .24rem;
          text-align: center;
  				vertical-align: middle;
  				background: rgba(255,201,156,0.27);
  				&:after {
  					@include setOnePxBorder(#FF8443,.08rem);
  				}
  			}
    }
}

.allarticle-knowledge {
    margin-top: 1rem;
    // margin-bottom: .96rem;
    height: 1.5rem;
    .knowledge {
        padding-top: .35rem;
        position: relative;
        text-align: center;
        font-size: .26rem;
        color: #B8BFC4;
        white-space: normal;
        @include setLineClamp(1);
        &::before {
            content: " ";
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: .44rem;
            height: .15rem;
            background: url(~src/assets/images/mobile/card/arrow-up.png) no-repeat center/cover;
        }
        .disease {
            position: relative;
            margin-left: .38rem;
            color: #80888C;
            &::before {
                content: " ";
                margin: auto;
                position: absolute;
                left: -.36rem;
                top: 0;
                bottom: 0;
                width: .36rem;
                height: .36rem;
                background: url(~src/assets/images/mobile/card/konwledge.png) no-repeat center/contain;
            }
        }
    }
}

.pull-enter,
.pull-leave-to {
    transition: transform 100ms ease-out 0ms, opacity;
    transform: translateY(-2.25rem);
    transform-origin: 50% 50% 0;
    opacity: 0;
}

.pull-enter-active,
.pull-leave-active {
    transition: transform 100ms ease-out 0ms, opacity;
    transform: translateY(0px);
    transform-origin: 50% 50% 0;
    opacity: 1;
}