@import "~src/assets/style/common-util";

.filter-li-wrp{
    * {
        box-sizing: border-box;
    }
    font-size: .28rem;
    line-height: 1rem;
    height: 1rem;
    position: relative;
    padding: 0 .73rem 0 .5rem;
    &:after{
        @include setBottomLine(#E5E5E5)
    }
    .label {
        max-width: 2.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #303135;
        font-size: .28rem;
        float: left;
    }
    .value{
        max-width: 2.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #B8BFC5;
        float: right;
        font-size: .28rem;
    }
    .right-arrow{
        width: .64rem;
        height: 1rem;
        background: url(~src/assets/images/mobile/expenseCalculator/right-arrow.png) no-repeat right .28rem center;
        background-size: .12rem auto;
        position: absolute;
        right: 0;
    }
    &.unable{
        .label {
            color: #B8BFC5;
        }
        .value {
            color: #B8BFC5;;
        }
    }
}