@import '~src/assets/style/common-util';
.container{
  background: #fff;
  width: 7.5rem;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: .88rem;
  box-sizing: border-box;
  * {
      box-sizing: border-box;
  }
} 
.h-title{
    color: #0D1119;
    font-size: .54rem;
    line-height: 1;
    background: #fff;
    padding: .82rem 0 .28rem .27rem;
}
.information {
    padding: .3rem .38rem 1.68rem .27rem;
    background: #fbfbfb;
    flex: 1;
    line-height: 1;
    .top-remark{
        color:#B8BFC4;
        font-size: .26rem;
        margin-bottom: .33rem;
    }
    .form-li{
        .form-label{
            display: block;
            font-size: .28rem;
            color: #0D1119;
            font-weight: 700;
            margin-bottom: .16rem;
        }
        .form-input{
            line-height: .26rem;
            font-size: .26rem;
            width: 100%;
            padding: .25rem .12rem;
            appearance:none;
            -webkit-appearance: none;
            outline: 0;
            border-radius: 0;
            border: 1px solid #E0E0E0;
            background: #F3F3F3;
            color: #7A7A7A;
        }
        .judge-remark{
            color: #06BA8E;
            font-size: .26rem;
            height: .26rem;
            margin-top: .08rem;
        }
        margin-bottom: .36rem;
    }
}
.sumit-wrp{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fbfbfb;
    width: 100%;
    padding-bottom: .38rem;
    padding-top: .1rem;
    .submit-btn{
        display: block;
        width: 6.85rem;
        height: .8rem;
        line-height: .8rem;
        color: #FFFFFF;
        text-align: center;
        background: linear-gradient(to bottom, #00C79B, #0DB6A4);
        margin: 0 auto;
        border-radius: .4rem;
        font-size: .28rem;
        font-weight: 700;
        @include setTouchBackground;
    }
    .sumit-remark{
        font-size: .26rem;
        color: #B8BFC4;
        text-align: center;
        margin-top: .05rem;
    }
}

.toast-msg{
    position: absolute;
    padding: .2rem .32rem;
    font-size: .36rem;
    background: rgba(48, 52, 53, 0.98);
    border-radius: .08rem;
    box-shadow: 0 0.08rem 0.28rem 0 rgba(0, 0, 0, 0.16);
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    .msg{
        font-size: .26rem;
        color: #fff;
        text-align: center;
    }
}
.toast-fade-enter-active {
    transition: all 0.3s ease-in-out;
}
.toast-fade-leave-active {
    transition: all 0.3s ease-in-out;
}
.toast-fade-enter {
    opacity: 0;
}
.toast-fade-leave-active {
    opacity: 0;
}

// .confirm_main{
//     width: 5.67rem;
//     height: 7.56rem;
//     overflow-y: auto;
//     margin: 0 auto;
//     text-align: left;
//     font-size: .28rem;
//     color: #3F3F42;
//     line-height: .56rem;
//     -webkit-overflow-scrolling: touch;
// }
// .btn-wrp {
//     width: 100%;
//     display: flex;
//     a {
//         flex: 1;
//         height: .82rem;
//         line-height: .82rem;
//         font-size: .32rem;
//         text-align: center;
//         @include setTouchBackground; 
//     }
//     .cancel-btn {
//         color: #80888C;
//         background: #eff1f2;
//     }
//     .sure-btn {
//         color: #fff;
//         background-image: linear-gradient(-133deg, #00C79B 0%, #0DB6A4 100%);
//         &.unable {
//             background: #9be5d6;
//         }
//     }
// }