@import '~src/assets/style/common-util';

.container {
    background: $block-background;
    width: 7.5rem;
    margin: 0 auto;
    position: relative;
    padding-top:.88rem;
    flex: 1;
}

.content {
    text-align: center;
    font-size: .28rem;
    overflow: hidden;
    img {
        margin-top: 2.13rem;
        margin-bottom: .78rem;
        width: 6.34rem;
        height: auto;
    }
    .t1 {
        font-size: .34rem;
        margin-bottom: 1.02rem;
        padding: 0 .5rem;
        line-height: 1.8;
        font-weight: 600;
    }
    .t2 {
        color: #80888c;
    }
}

.follow {
    width: 2.6rem;
    height: 0.8rem;
    margin: 0 auto;
    margin-top: .84rem;
    margin-bottom: .4rem;
    line-height: 0.8rem;
    font-size: 0.34rem;
    text-align: center;
    color: #03b98c;
    border-radius: 0.4rem;
    border: 0.02rem solid #03b98c;
    background: rgba(255, 255, 255, .08);
    box-sizing: border-box;

    &:active {
        background: rgba(255, 255, 255, .12);
    }

    &.followed {
        background: #03b98c;
        color: #fff;

        &:active {
            opacity: 0.85;
        }
    }
}
