@import "~src/assets/style/common-util";

  // 药品面板
  .filter-sort-content{
    position: relative;
    .sort-content{
      max-height: 7.75rem;
      height: 7.75rem;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      position: relative;
    }
    .sort-title{
        height: .46rem;
        line-height: .46rem;
        color: #80888C;
        font-size: .26rem;
        background: #F7F7F7;
        padding-left: .45rem;
    }
    .sort-ul{
        li {
            list-style: none; 
            height: 1rem;
            line-height: 1rem;
            padding-left: .45rem;
            color: #000000;
            font-size: .28rem;
        }
    }
    .alpha-fixed{
      width: .45rem;
      position: absolute;
      right: .12rem;
      top: .12rem;
      transform: scale(0.85);
      transform-origin: right top;
      li {
        width: .45rem;
        height: .32rem;
        display: block;
        font-size: .2rem;
        line-height: .32rem;
        text-align: center;
        color: #80888C;
        a{
          display: block;
          position: relative;
          font-weight: lighter;
        }
        &.on {
            a {
                &:before {
                    content: "";
                    display: block;
                    width: 0.3rem;
                    height: 0.3rem;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    z-index: -1;
                    /* -webkit-transform: translate(-50%); */
                    transform: translate(-50%, -50%);
                    left: 50%;

                    background: {
                        color: #06BA8E;
                    }
                }
                color: #fff !important;
            }
        }
      }
    }
  }
/** 弹窗动画*/
.fadeIn-enter-active {
    transition: all 0.3s ease-in-out;
}
.fadeIn-leave-active {
    transition: all 0.3s ease-in-out;
}
.fadeIn-enter {
    transform: translateY(20%);
    opacity: 0;
}
.fadeIn-enter-to {
    transform: translateY(0);
    opacity: 1;
}
.fadeIn-leave {
    transform: translateY(0);
    opacity: 1;
}
.fadeIn-leave-to {
    transform: translateY(20%);
    opacity: 0;
}