.topicdocs{
	position: relative;
  width: 7.02rem;
  margin: .32rem auto 0 auto;
  border-radius: .15rem;
  overflow: hidden;
  box-shadow:0 0 .2rem #ccc;
  background:#fcfcfc;
  .tab-sticky{
    position:sticky;
    top: 0;
    z-index:1;
    height:.96rem;
    background-color:#ffffff;
  }
  /deep/ .tabs {
    padding: 0.2rem 0 0 .1rem;
    .item{
      margin:0 .12rem .16rem 0;
    }
  }
  /deep/ .tabs-row {
    .items-wrp{
      padding-left: .34rem;
    }
    .item {
      margin:0 .12rem .16rem 0;
    }
  }

}