.container {
  flex: 1;
}
.page-header {
  margin-top: .88rem;
  color: #fff;
  font-size: .46rem;
  line-height: 1.56rem;
  padding-left: 1.33rem;
  background: url(~src/assets/images/mobile/player/audio_bg.png) no-repeat center/cover;
}