.papertag {
    background: #fff;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    *{
      box-sizing: border-box;
    }
    &.fixed {
      // position: fixed;
      // top: .72rem;
      // left: 0;
      // right: 0;
      // z-index: 100;
      ul {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 0.24rem 0.8rem 0 .24rem;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: .80rem;
        height: 100%;
        background-image: linear-gradient(90deg,rgba(255,255,255,0) 10%, rgba(255,255,255,0.8) 40%, #fafafa 65%);
      }
    }
    &.one-line {
      ul {
        padding-right: .8rem;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: .80rem;
        height: 100%;
        background-image: linear-gradient(90deg,rgba(255,255,255,0) 10%, rgba(255,255,255,0.8) 40%, #fafafa 65%);
      }
    }
  
    ul {
      padding: 0.24rem 0.6rem 0 .24rem;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      font-size: 0;
      position: relative;
  
      &.fixed-width {
        width: 6.28rem;
      }
  
      &.auto-height {
        white-space: normal;
        overflow: auto;
      }
  
      li {
        position: relative;
        // width: 1.08rem;
        height: 0.58rem;
        line-height: 0.58rem;
        text-align: center;
        margin: 0 0.2rem 0.16rem 0;
        font-size: 0.26rem;
        color: #4A4B4C;
        display: inline-block;
        padding: 0 0.2rem;
        &:nth-last-of-type(1) {
          margin-right: 0;
        }
  
        &.active {
          background: linear-gradient(-134deg, #00c79b 0%, #0db6a4 100%);
          color: #fff;
          border-radius: 0.28rem;
  
          &:after {
            border-color: #06BA8E;
          }
        }
  
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0.58rem;
          border: 1px solid #B8BFC5;
          box-sizing: border-box;
          width: 200%;
          height: 200%;
          transform: scale(.5);
          transform-origin: left top;
        }
  
        .btn-link {
          z-index: 1;
        }
      }
    }
  
    .arrow {
      position: absolute;
      width: 0.6rem;
      height: .96rem;
      top: 0;
      right: 0;
      background: #fff;
  
      &:after {
        position: absolute;
        content: "\20";
        border-top: 1px solid #06BA8E;
        border-right: 1px solid #06BA8E;
        transform: rotate(135deg);
        width: 0.18rem;
        height: 0.18rem;
        left: 0.2rem;
        top: 0.4rem;
      }
  
      &.up:after {
        transform: rotate(-45deg);
      }
    }
  }
  .place-holder{
    background: #fff;
  }

  .papertag-wrp-outter {
    position: fixed;
    z-index: 2;
    width: 100%;
  }