.tabs{
  // background: #fff;
  padding:.2rem 0 0 .3rem;
  font-size:0;

}
.item{
  position: relative;
  width: 1.6rem;
  height: .58rem;
  line-height: .58rem;
  text-align: center;
  margin:0 .2rem .16rem 0;
  font-size: .26rem;
  color: #4A4B4C;
  display: inline-block;
  //padding:0 .2rem;
  &:nth-child(4n){
    margin-right: 0;
  }
  &.active{
    //background: #06BA8E;
    background-image: linear-gradient(-135deg, #32D495 0%, #14C19F 100%);
    color: #fff;
    border-radius:.28rem;
    &:after{
      border-color: #06BA8E;
    }
  }
  &.update:before{
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    display: block;
    width: .12rem;
    height: .12rem;
    background: #f04639;
    border-radius: 100%;
    transform: translateZ(0);
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .58rem;
    border: 1px solid #B8BFC5;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(.5);
    transform-origin: left top;
  }
}
.tabs-row{
  // padding:.2rem 0 0 .3rem;
  font-size: 0;
  position: fixed;
  top: .88rem;
  left: 0;
  right: 0;
  background-color:#ffffff;
  z-index:1;
  .items-wrp{
    padding: 0.2rem 0.8rem 0 .3rem;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: .80rem;
    height: 100%;
    background-image: linear-gradient(90deg,rgba(255,255,255,0) 10%, rgba(255,255,255,0.8) 40%, #fafafa 65%);
  }
  .item{
    &:nth-child(4n){
      margin-right: .2rem;
    }
  }
}