@import '~src/assets/style/common-util';

@mixin ellipsis($value:4){
   max-width: #{$value}rem;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
@mixin setOnePx($borderRadius, $color) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $borderRadius;
    border: 1px solid $color;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    transform: scale(.5);
    transform-origin: left top;
}

@mixin arrow($color, $deg:45) {
    position: absolute;
    content: "\20";
    border-top: 1px solid #{$color};
    border-right: 1px solid #{$color};
    transform: rotate(#{$deg}deg);
}

.container{
 background: #f2f1f1;
 flex: 1;
 position: relative;
 //overflow: hidden;
}
#main{
   width: inherit;
   height: auto;
   padding-top: .88 + .28rem;
   padding-bottom: .28rem;
   position: relative;
   * {
	   box-sizing: border-box;
   }
   .top-card{
	   width: 6.94rem;
	   margin: 0 auto;
	   position: relative;
	   padding: .45rem 0 .36rem .36rem;
	   background: linear-gradient(to right, #00c79b, #0cb7a3);
	   border-radius: .06rem;

	   .disease-intro{
		   z-index: 2;
		   .h1{
			   max-width: 4.4rem;
			   line-height: .68rem;
			   display: flex;
			   flex-direction: row;
			   justify-content: flex-start;
			   align-items: center;
			   .name{
				   font-size: .46rem;
				   color: #FFFFFF;
				   opacity: 1;
				   overflow: hidden;
				   text-overflow: ellipsis;
				   white-space: nowrap;
			   }
			   .follow-btn{
				   width: 1.2rem;
				   flex-shrink: 0;
				   height: .4rem;
				   border-radius: 1rem;
				   font-size: .24rem;
				   color: #FFFFFF;
				   line-height: .4rem;
				   display: inline-block;
				   text-align: center;
				   margin-left: .1rem;
				   letter-spacing: .05rem;
				   border: 1px solid rgba(255,255,255,0.6);
			   }
		   }
		   .alias{
			 font-size: .24rem;
			 color: #b7eae9;
			 max-width: 4.4rem;
		   }
		   .webmd-text{
			   display: flex;
			   flex-direction:row;
			   justify-content: flex-start;
			   align-items: center;
			   margin-top: .26rem;
			   height: .64rem;
		   }
		   .webmd{
			   width: 1.72rem;
			   height: .52rem;
			   border-radius: 0.06rem;
			   margin-right: .1rem;
			   line-height: .45rem;
			   display: flex;
			   justify-content: center;
			   align-items: center;
			   background: #FEFEFE;
			   box-shadow: 0 .02rem .06rem 0 rgba(37,52,42,0.04);
			   img{
				   width:1.32rem;
				   height: .28rem;
				   opacity: 1;
			   }
		   }
		   .web-intro{
			   width: auto;
			   height: .64rem;
			   font-size: .22rem;
			   color: #FFFFFF;
			   line-height: .32rem;
			   span{
				   font-weight: bold;
				   font-size: .24rem;
			   }
			   opacity: .68;
		   }
		   .disease-doctor{
			   box-sizing: border-box;
			   width: 100%;
			   overflow: hidden;
			   text-overflow: ellipsis;
			   white-space: nowrap;
			   font-size: .22rem;
			   color: #FFFFFF;
			   margin-top: .1rem;
			   line-height: .32rem;
			   background: url(~src/assets/images/mobile/overview_zl/icon.png) no-repeat 0 center;
			   background-size: .22rem .24rem;
			   padding: 0 2rem 0 .30rem;
			   opacity: 0.75;
			   position: relative;
			   .arrow{
				   width:0.1rem;
				   height: 0.1rem;
				   content: "\20";
				   border-top: 1px solid currentColor;
				   border-right:1px solid currentColor;
				   transform:rotate(45deg);
				   position: absolute;
				   top: .1rem;
			   }
		   }
	   }
	   .disease-image{
		   height: 1.12rem;
		   position: absolute;
		   top: .36rem;
		   right: .36rem;
		   font-size:0;
		   img{
			   height: 1.12rem;
		   }
	   }
   }
   .list{
	   width: 6.94rem;
	   margin: .28rem auto 0;
	   border-bottom: none;
   }

   .hot-list{
		background: #FEFEFE;
		box-shadow: 0 .08rem .16rem 0 rgba(230,228,229,0.28);
		border-radius: .06rem;
		overflow: hidden;
		margin-bottom: .2rem;
		border-top: .08rem solid #21cda9;
		.more-btn{
			width: inherit;
			height: .8rem;
			background: #F9FAFB;
			font-size: .28rem;
			color: #808182;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.paper{
			.hot-list-item{
				font-size: .32rem;
				height: 1.54rem;
				color: #0D0D0F;
				position: relative;
				padding-left: 1.4rem;
				&:last-of-type:after {
					@include setBottomLine(#e0e4e7, .28rem, .28rem);
				}
				&:not(:last-of-type) {
					.content-wrp:after{
						@include setBottomLine(#e0e4e7, 0, 0);
					}
				}
				.pic-wrp{
					width: 1.4rem;
					height: 1.54rem;
					position: absolute;
					left: 0;
					top: 0;
					img {
						position: absolute;
						width: .86rem;
						// height: .86rem;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}
				.content-wrp{
					width: 100%;
					height: 1.54rem;
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-right: .4rem;
					.row-01{
						.column{
							color: #80888C;
							font-size: .24rem;
						}
						.count {
							color: #b8bfc4;
							font-size: .24rem;
							margin-left: .15rem;
						}
					}
					.row-02{
						font-size: .32rem;
						margin-top: .1rem;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					&:not(:last-of-type):after {
						@include setBottomLine(#e0e4e7, .28rem, .28rem);
					}
				}
			}
		}
	}


	// 底下删选出来的文章列表
	.doc-list{
		background: #FEFEFE;
		box-shadow: 0 .08rem .16rem 0 rgba(230,228,229,0.28);
		border-radius: .06rem;
		overflow: hidden;
		border-top: .08rem solid #21cda9;
		.filter-label{
			height: .8rem;
			line-height: .8rem;
			font-size: .24rem;
			color: #80888C;
			padding-right: .32rem;
			text-align: right;
			position: relative;
			&:after{
				@include setBottomLine(#e0e4e7, 0, 0);
			}
			.label{
				vertical-align: middle;
			}
			.icon{
				width: .36rem;
				height: .36rem;
				display: inline-block;
				background: url(~src/assets/images/mobile/overview_zl/filter-icon.png) no-repeat left center;
				background-size: contain;
				vertical-align: middle;
				margin-left: .1rem;
				&.selected {
					background: url(~src/assets/images/mobile/overview_zl/filter-icon-selected.png) no-repeat left center;
					background-size: contain;
				}
			}
		}
	}

	// 文章多，展示的标签树文章
   .contruct-list{
	   //width: 7.1rem;
	   height: auto;
	   background: #FEFEFE;
	   overflow: hidden;
	   position: relative;
	   border-radius: .06rem;
	   .block{
			padding-bottom:.44rem;
			position: relative;
			&.expand {
				padding-bottom: 0;
			}
			&:not(:last-of-type):after {
				@include setBottomLine(#e0e4e7, 0, 0);
			}
			.h2{
				padding: .52rem 0 .16rem;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				background: #fff;
				position: relative;
				.h2-1{
					width: .08rem;
					height: .32rem;
					background-image: linear-gradient(45deg, #21CDA9 0%, #00B98D 100%);
					border-radius: 0 4rem 4rem 0;
					margin-right: .3rem;
				}
				.h2-2{
					font-size: .36rem;
					color: #0D0D0F;
					line-height: .36rem;
					font-weight: bold;
					padding-left: .3rem;
				}
				.h2-3{
					font-size: .24rem;
					color: #B8BFC4;
					vertical-align: middle;
					margin-left: .28rem;
					img{
						width: .24rem;
						height: .12rem;
						transform: rotate(90deg);
					}
				}
				.common-flag{
					width: .22rem;
					height: .32rem;
					display: block;
					background: url(~src/assets/images/mobile/overview_zl/arr_down_01.png) no-repeat left center;
					background-size: contain;
					position: absolute;
					right: .34rem;
					top: .56rem;
					&.expand {
						background: url(~src/assets/images/mobile/overview_zl/arr_up_01.png) no-repeat left center;
						background-size: contain;
					}
				}
			}
			.cur{
				display: flex;
				flex-direction: row;
				.triangle{
					position: absolute;
					top: 0;
					left: -0.32rem;
					width: 0;
					height: 0;
					border-top: .54rem solid transparent;
					border-right: .32rem solid #F5F5F7;
					border-bottom: .54rem solid transparent;
				}
				.disease-text{
					width:6.78rem;
					height: 1.08rem;
					display: flex;
					flex-direction: row;
					align-items: center;
					background: #F5F5F7;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			.disease-content{
				height: auto;
				.disease-name{
					height: 1.08rem;
					margin-left:.3rem;
					font-size: .32rem;
					color: #4A4B4C;
					display: flex;
					flex-direction: row;
					align-items: center;
					position: relative;
					border-bottom: 0.01rem solid #E0E4E7;
					&.no-third{
						padding-left:.38rem;
						&:before{
							position:absolute;
							content:"\20";
							height:.12rem;
							width:.12rem;
							left:0;
							top:.48rem;
							background:#5E5E62;
							border-radius:.12rem;
						}
					}
					.s-num{
						font-size: .24rem;
						color: #B8BFC4;
						line-height:.24rem;
						position: absolute;
						right: .32rem;
						top: 50%;
						margin-top: -0.12rem;
					}
					&.cur{
						margin-right: .13rem;
					}
					img{
						width: .18rem;
						height: .18rem;
						transition: transform .5s;
						margin-right: .2rem;
					}
					img.slideup{
						transform: rotate(-90deg);
					}
				}

				.disease-info{
					// width: 6.86rem;
					// margin:0 auto .05rem;
					height: auto;
					background-image: linear-gradient(-180deg, #F3F3F5 0%, #F5F5F7 100%);
					// border-radius: .12rem;
					/*padding: .32rem 0;*/

					p{
						margin-left: .5rem;
						margin-right: .36rem;
						font-size: .32rem;
						color: #4A4B4C;
						border-bottom: .01rem solid #D8DBDF;
						height: 1.08rem;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						padding-left: .5rem;
						position: relative;
						&.art-title span:first-child,&.tag-name span:first-child{
							//width: 5.66rem;
							white-space: normal;
							@include setLineClamp(2);
							max-width: 4.8rem;
							line-height: .48rem;
						}
						.art-num{
							font-size: .24rem;
							color: #B1B2B4;
						}
						// &:before{
						// 	content: "";
						// 	width: .1rem;
						// 	height: .1rem;
						// 	border-radius: 100%;
						// 	background: #5E5E62 no-repeat left center;
						// 	position: absolute;
						// 	left: 0;
						// 	top: 50%;
						// 	margin-top: -.05rem;
						// }
						&.art-title{
							height: auto;
							padding: .32rem 0 .38rem .5rem;
						}
						&.tag-name{
							height: auto;
							padding: .32rem 0 .38rem .2rem;
						}

						&.art-title:before{
							width:.26rem ;
							height: .29rem;
							background: url(~src/assets/images/mobile/overview_zl/page@3x.png) no-repeat left center;
							background-size: .26rem .29rem;
							border-radius: 0;
							content: '';
							position: absolute;
							left: 0;
							top: 50%;
							margin-top: -0.14rem;
						}
						&:last-child{
							border:none;
						}
						&.conclusion{
							margin-right: 0;
							padding-right: .38rem;
						}
					}
					.conclusion{
						font-size: .28rem;
						line-height: .46rem;
						height: auto;
						padding-left: 0;
						padding: .1rem 0;
						padding-right: 0;
						position: relative;
						img{
							width: .26rem;
							//height: .18rem;
							transform: rotate(90deg);
						}
						&:before{
							display: none;
						}
					}
				}
			}
		}
	   .conclusion{
		   display: flex;
		   flex-direction: row;
		   justify-content: space-between;
		   align-items: center;
		   font-size: .28rem;
		   line-height: .46rem;
		   height: auto;
		   padding: 0 .32rem 0rem .45rem;
		   min-height: 1rem;
		   color: #4A4B4C;
		   position: relative;
		   span{
		   		@include setLineClamp(2);
		   }
		   img{
			   width: .26rem;
			   //height: .18rem;
			   transform: rotate(90deg);
		   }
		   &:before{
			   display: none;
		   }
		   img{
			   margin-left: .36rem;
		   }
	   }
	   .art-title1{
		   margin-left:.3rem;
		   font-size: .32rem;
		   color: #4A4B4C;
		   border-bottom: .01rem solid #D8DBDF;
		   height: 1rem;
		   display: flex;
		   flex-direction: row;
		   justify-content: flex-start;
		   align-items: center;
		   padding-left: .5rem;
		   position: relative;
		   &.cur{
			   padding-left: 0;
			   .disease-text{
				   padding-left: .5rem;
			   }
		   }
		   /*.art-num{
			   font-size: .24rem;
			   color: #B1B2B4;
		   }
		   &:before{
			   content: "";
			   width: .14rem;
			   height: .14rem;
			   border-radius: 100%;
			   background: #5E5E62 no-repeat left center;
			   position: absolute;
			   left: 0;
		   }*/
		   &:before{
			   content:'';
			   width:.26rem ;
			   height: .29rem;
			   background: url(~src/assets/images/mobile/overview_zl/page@3x.png) no-repeat left center;
			   background-size: .26rem .29rem;
			   border-radius: 0;
			   margin-right: .1rem;
			   position: absolute;
			   left: 0;
			   top: 50%;
			   margin-top: -0.14rem;
		   }
		   &:last-child{
			   border:none;
		   }
	   }
	   .tags-list{
		   font-size: .24rem;
		   color: #B1B2B4;
		   margin:0 .2rem 0 0.3rem;
		   /*padding-bottom:.44rem;
		   white-space: nowrap;
		   overflow: hidden;
		   text-overflow: ellipsis;*/
		   @include setLineClamp(2);
		   word-wrap: break-word;
		   white-space: pre-wrap;
		   p{
			   height: .28rem;
		   }
		   em{
			   width: .08rem;
			   height: .22rem;
			   background-image: linear-gradient(0deg, #9696FF 0%, #7A7AFF 100%);
			   border-radius: 1rem;
			   margin-right: .15rem;
		   }
		   span{
			   display: inline-block;
			   margin-right: .1rem;
			   white-space: nowrap;
		   }
	   }
	   .new-icon{
		   width: .2rem;
		   height: .3rem;
		   display: block;
		   background: url(~src/assets/images/mobile/overview_zl/location@3x.png) no-repeat 0 0;
		   background-size: .2rem .3rem;
		   position: absolute;
		   top: 0;
		   right: .36rem;
	   }
   }

   .allarticle-knowledge {
		//margin-top: 1rem;
		// margin-bottom: .96rem;
		height: 1.5rem;
		padding-top: .35rem;
		.knowledge {
			padding-top: .35rem;
			position: relative;
			text-align: center;
			font-size: .26rem;
			color: #B8BFC4;
			white-space: normal;
			@include setLineClamp(1);
			&::before {
				content: " ";
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: .44rem;
				height: .15rem;
				background: url(~src/assets/images/mobile/card/arrow-up.png) no-repeat center/cover;
			}
			.disease {
				position: relative;
				margin-left: .38rem;
				color: #80888C;
				&::before {
					content: " ";
					margin: auto;
					position: absolute;
					left: -.36rem;
					top: 0;
					bottom: 0;
					width: .36rem;
					height: .36rem;
					background: url(~src/assets/images/mobile/card/konwledge.png) no-repeat center/contain;
				}
			}
		}
	}

/* 	.papertag {
		background: #fff;
		position: relative;
		&.fixed {
			position: fixed;
			top: .72rem;
			left: 0;
			right: 0;
			z-index: 100;
		}
		&:after {
			content: "\20";
			position: absolute;
			width: 1rem;
			height: 100%;
			right: 0;
			top: 0;
			background-image: -webkit-gradient(linear,left,right, from(rgba(254,254,254,0)), to(rgba(255,255,255,1)) );
			background-image: linear-gradient(to right,rgba(254,254,254,0) 0%, rgba(255,255,255,1) 100%);
		}

		ul {
			padding: 0.24rem 1rem 0 .24rem;
			white-space: nowrap;
			overflow-y: hidden;
			overflow-x: auto;
			font-size: 0;
			-webkit-overflow-scrolling: touch;

			&.fixed-width {
			width: 6.28rem;
			}

			&.auto-height {
			white-space: normal;
			overflow: auto;
			}

			li {
			position: relative;
			// width: 1.08rem;
			height: 0.56rem;
			line-height: 0.56rem;
			text-align: center;
			margin: 0 0.2rem 0.16rem 0;
			font-size: 0.26rem;
			color: #80888c;
			display: inline-block;
			padding: 0 0.2rem;

			&.active {
				background: #06BA8E;
				color: #fff;
				border-radius: 0.28rem;

				&:after {
				border-color: #06BA8E;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 0.56rem;
				border: 1px solid #b8bfc4;
				box-sizing: border-box;
				width: 200%;
				height: 200%;
				transform: scale(.5);
				transform-origin: left top;
			}

			.btn-link {
				z-index: 1;
			}
			}
		}

		.arrow {
			position: absolute;
			width: 0.6rem;
			height: 1rem;
			top: 0;
			right: 0;
			background: #fff;

			&:after {
			position: absolute;
			content: "\20";
			border-top: 1px solid #B8BFC4;
			border-right: 1px solid #B8BFC4;
			transform: rotate(135deg);
			width: 0.18rem;
			height: 0.18rem;
			left: 0.2rem;
			top: 0.4rem;
			}

			&.up:after {
			transform: rotate(-45deg);
			}
		}
	}
 */
	.tag-list {
		position: relative;
		background: #fcfcfc;
		ul {
			padding: .04rem .18rem .2rem .28rem;
			width: 6.3rem;
			position: relative;
			list-style: none;
			font-size: 0;
			white-space: nowrap;
			overflow: hidden;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			&.auto-height {
				white-space: normal;
				overflow: auto;
			}
			li {
				margin: .16rem .16rem 0 0;
				display: inline-block;
				padding: 0 .24rem;
				line-height: .56rem;
				font-size: .26rem;
				color: #80888c;
				position: relative;
				&:after {
					@include setOnePx(.56rem, #B8BFC4);
				}
				&:last-child {
					margin-right: 0;
				}
				&.on {
					color: #06BA8E;
					&:after {
						background-color: rgba(6, 186, 142, 0.08);
						border-color: currentColor;
					}
				}
			}
		}
		.arrow {
			position: absolute;
			width: .8rem;
			height: .8rem;
			top: 0;
			right: 0;
			background: #fcfcfc;
			&:after {
				@include arrow(#B8BFC4, 135);
				width: .18rem;
				height: .18rem;
				left: .3rem;
				top: .3rem;
			}
			&.up:after {
				transform: rotate(-45deg);
				top: .4rem;
			}
		}
	}

   /deep/ .paper{
	   .item.no-img {
		   padding-top: .28rem;
		   padding-bottom: .28rem;
	   }
	   .item,
	   .video-item,
	   .threeimg-item,
	   .gif-item,
	   .tag-related,
	   .search-item {
		   position: relative;
		   padding: .24rem .28rem .28rem;
		   &:not(:last-of-type):after {
			   @include setBottomLine(#e0e4e7, .28rem, .28rem);
		   }
	   }
   }


   // 过滤器
   .filter-panel-wrp {
	   ul, li {
		   list-style-type: none;
		   margin: 0;
		   padding: 0;
	   }
	   .filter-panel-mask{
		   position: fixed;
		   top: 0;
		   left: 0;
		   width: 100%;
		   height: 100%;
		   z-index: 4;
		   background: rgba(0,0,0,0.68);
	   }
	   .filter-panel{
		   width: 5.9rem;
		   height: 100%;
		   position: fixed;
		   right: 0;
		   top: 0;
		   background: #fff;
		   padding-top: .88rem;
		   overflow-x: hidden;
		   overflow-y: auto;
		   z-index: 5;
		   padding-bottom: 1.2rem;
		   .filter-outter{
			   font-size: .26rem;
			   padding: .6rem 0 .24rem .37rem;
			   position: relative;
			   &:not(:last-of-type):after {
					@include setBottomLine(#e0e4e7, 0, 0);
				}
			   .title{
				   font-size: .26rem;
				   color: #80888C;
				   margin-bottom: .33rem;
			   }
			   .filter-li{
					font-size: .24rem;
					line-height: .24rem;
					color: #4A4B4C;
					padding: .16rem;
					background: #f7f7f8;
					display: inline-block;
					border-radius: .04rem;
					margin-right: .16rem;
					margin-bottom: .16rem;
					border: .01rem solid #f7f7f8;
					position: relative;
					.desc{
						color: #80888C;
						margin-left: .16rem;
					}
					.decoration{
						width: .28rem;
						height: .28rem;
						background: url(~src/assets/images/mobile/overview_zl/filter-item-selected.png) no-repeat 0 center;
						background-size: contain;
						position: absolute;
						right: -.08rem;
						bottom: -.08rem;
						display: none;
					}
					&.selected{
						border-color: #06BA8E;
						color: #06BA8E;
						.desc{
							color: #06BA8E;
						}
						.decoration{
							display: block;
						}
					}
			   }
		   }
		   .btn-group{
			   width: 100%;
			   height: 1rem;
			   background: #fff;
			   position: fixed;
			   bottom: 0;
			   padding: .1rem 0 0 .38rem;
			   font-size: 0;
			   .cancel {
				   font-size: .24rem;
				   color: #80888C;
				   padding: .2rem .16rem;
				   margin-right: .3rem;
			   }
			   .submit {
				   display: inline-block;
				   width: 2.12rem;
				   height: .72rem;
				   line-height: .72rem;
				   background: #06BA8E;
				   color: #fff;
				   font-size: .32rem;
				   text-align: center;
				   border-radius: .36rem;
			   }
		   }
	   }
	   .toast-no-content {
		position: fixed;
		width: 4rem;
		height: 4rem;;
		font-size: .3rem;
		background: rgba(0, 0, 0, .68);
		border-radius: .08rem;
		color: #fff;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		transition: all .5s ease;
		text-align: center;
		padding-top: .72rem;
		z-index: 10;
		.icon {
			width: 1.56rem;
			height: 1.56rem;
			display: block;
			margin: 0 auto .24rem;
			background: url(~src/assets/images/mobile/overview_zl/no-filter-data.png) no-repeat center;
			background-size: contain;
		}
		 &.show{
			 opacity: 1;
		 }
	 }
   }
}

.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateX(20%);
	opacity: 0;
}

.slide-toast-fade-enter-active {
	transition: all .5s ease;
}
.slide-toast-fade-leave-active {
	transition: all .5s ease;
}
.slide-toast-fade-enter, .slide-toast-fade-leave-to{
	opacity: 0;
}