@import '~src/assets/style/common-util';

.container{
  background: #f3f3f3;
  width: 7.5rem;
  margin: 0 auto;
  position: relative;
  overflow-x:hidden;
  padding-top: 0.88rem;
  flex: 1;
}
.qa-list{
  padding:.2rem 0 0;
  background:#fcfcfc;
}
