.bottom-fixed-tips{
    display: inline-block;
    height: .54rem;
    line-height: .54rem;
    background-color: rgba(68,68,68,1);
    color: #fff;
    font-size: .26rem;
    border-radius: .12rem;
    position: fixed;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: .1rem;
    white-space: nowrap;
    z-index: 1000;
    .inner-wrp{
        display: inline-block;
        position: relative;
        padding: 0 .12rem 0 .21rem;
        .art{
            vertical-align: middle;
        }
        .close-btn{
            display: inline-block;
            width: .48rem;
            height: .54rem;
            background: url(~src/assets/images/mobile/search_new/close.png) no-repeat center;
            background-size: .24rem;
            vertical-align: middle;
            margin-left: .3rem;
        }
        .collect{
            display: inline-block;
            width: .27rem;
            height: .27rem;
            background: url(~src/assets/images/mobile/collection_tips/star.png) no-repeat center;
            background-size: contain;
            vertical-align: middle;  
        }
    }
    &:after{
        width: 0;
        height: 0;
        content: ' ';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -.2rem;
        border: solid transparent;
        border-width: .14rem .15rem;
        border-top-color: rgba(68,68,68,1); 
    }
}

.bottom-fixed-tips-enter-active,
.bottom-fixed-tips-leave-active {
    transition: transform 100ms ease-out 0ms;
    transform: translate3d(-50%, 120%, 0);
}

.bottom-fixed-tips-enter-to,
.bottom-fixed-tips-leave {
    transition: transform 100ms ease-out 0ms;
    transform: translate3d(-50%, 0, 0);
}