- var fullContainerAttr = {class: 'full', ':class': "{'bar-tab': searchInput && tabIdx > -1, 'bar-tag-tab': searchInput && tabIdx === 0 && tagsList && tagsList.length}"};
- var miniContainerAttr = {class: 'mini'};
- var miniDetailAttr = {'v-show': 'show'};

mixin search(mode)
  .search-container&attributes(mode === 'mini' ? miniContainerAttr : fullContainerAttr)
    .search-wrapper
      .search-header
        // 搜索bar
        <div class="search-bar">
          <div class="search-input-wrapper">
            <span v-show="stag" :ptag="'ydd_list_searchdesease_close:'+stag" class="stag ellipsis" @click="clearStag">{{ stag }}
              <i class="close" />
            </span>
            <form action="javascript:void(0);" @submit="clickSearch">
              <input id="searchInput" v-model.trim="searchInput" :placeholder="stag ? '搜索' : '搜疾病/症状/文章'" type="search" ptag="ydd_searchn_input" @input="changeInput">
            </form>
            <img v-show="searchInput" :src="require('src/assets/images/mobile/search_new/del.png')" class="action-del" ptag="ydd_list_searchdel" @click="clearInput">
          </div>
          <span v-show="searchAble" class="action-search" @click="clickSearch">搜索</span>
          <span v-show="!searchAble" class="action-cancel" ptag="ydd_searchn_inputcancel" @click="cancel">取消</span>
        </div>
        if mode === 'full'
          // 更多关键词
          <div v-show="searchInput && tabIdx === 0 && tagsList && tagsList.length" class="keyword-list">
            <span>更多关键词：</span>
            <div class="keywords">
              <div v-for="item in tagsList" :key="item" class="item" @click="clickOverallTag(item)">{{ item }}</div>
            </div>
          </div>
          // 搜索tab
          <ul v-show="searchInput && tabIdx > -1" class="nav-list">
            <li v-for="(item,index) in searchData" v-if="item.showInTab" :key="item.nav" :class="{on:tabIdx===index}">
              <span>{{ item.nav }}</span>
              <a :ptag="item.ptag" href="javascript:;" class="btn-link" @click="clickNav(index)" />
            </li>
          </ul>
          <papertag-multiline-outter :tags="formatTagsList" :index="curTab.tagIdx" :fixed-status-from-parent="showFixPaperTag" :top-minus-dom="['.tmenu', '.fixed-nav']" @tagclick="clickCommonTag" />
      .search-detail&attributes(mode === 'mini' ? miniDetailAttr : {})
        // 热门搜索
        <div v-show="!searchInput && !stag && hotList && hotList.length" class="search-hot">
          <p class="title">热门搜索</p>
          <ul class="search-hot-list">
            <li v-for="(item, index) in hotList.slice(0, 8)" v-if="item && item.name" :key="index" class="search-hot-item ellipsis" @click="searchBySuggest(item.name, 'hot', index)">
              <span class="hot-index">{{ index > 2 ? index + 1 : '' }}</span>{{ item.name }}
            </li>
          </ul>
        </div>
        // 搜索历史
        <div v-show="!searchInput && historyList && historyList.length" class="search-history">
          <p class="title">搜索历史
            <span class="clear" ptag="ydd_list_searchhisclear" @click="clearHis('')">清除历史</span>
          </p>
          <ul class="search-plain-list">
            <li v-for="(item, index) in historyList.slice(0, 10)" :key="item.name" class="item search-history-item">{{ item.name }}
              <a href="javascript:;" class="btn-link" @click="searchBySuggest(item.name,stag?'stagHis':'his')" />
              <span class="delete" @click.stop="clearHis(item.name, index)" />
            </li>
          </ul>
        </div>
        // 联想词
        <div v-show="searchInput && tabIdx < 0 && associateList && associateList.length && searchStatus !== 2 && searchStatus !== 3" class="search-smartbox">
          <ul class="search-plain-list">
            <li v-for="item in associateList" :key="item.name" :class="item.type === 4 ? 'search-history-item' : 'search-common-item'" class="item">
              <div class="name ellipsis" v-html="$options.filters.highLight(item.name+(item.alias&&item.alias.length>0?('(' + item.alias.join('、') + ')'):''), associateKeyword)" />
              <a href="javascript:;" class="btn-link" @click="searchBySuggest(item.name, item.type === 4 ? 'smartHis' : 'smart')" />
            </li>
          </ul>
        </div>
        if mode === 'full'
          // 搜索结果
          <div v-show="searchInput && tabIdx > -1">
            // 综合区
            <div v-if="tabIdx===0" class="overall-tab">
              // tab预览
              <div v-for="item in sortedOverall" v-if="item.showInOverall&&item.overList&&item.overList.length>0" :key="item.nav" :class="{'tab-content-mix': item.nav === '混排'}" class="tab-content-item">
                // 名词解释
                <template v-if="item.nav === '名词' && item.overList[0]">
                  <card-note :item="item.overList[0]" :count="item.count" :keywords="keywords" :searchkey="searchQuery" />
                </template>
                // 药品
                <template v-else-if="item.nav === '药品' && item.overList[0]">
                  <card-drug :item="item.overList[0]" :keywords="keywords" :searchkey="searchQuery" />
                </template>
                // 知识图谱
                <template v-else-if="item.nav === '知识图谱' && item.overList[0]">
                  <card-relation-map :item="item.overList[0]" :searchkey="searchQuery" />
                </template>
                // 卡片版疾病：命中且已发布
                <template v-else-if="item.nav === '疾病' && item.overList[0] && item.overList[0].matchflag && item.overList[0].released">
                  <card-disease :item="item.overList[0]" :keywords="keywords" :searchkey="searchQuery" />
                  <div v-if="item.mixnotes && item.mixnotes.length" class="disease-related-container">
                    <p class="disease-related-title">
                      <span>相关疾病知识</span>
                      // 上报捕捉不到
                      //
                        <span v-if="item.diseaseInMix" class="disease-related-more" ptag="YDD_search_revelantillknow_more" @click="clickNav(item.tabIdx)">查看更多
                          <span v-if="item.diseaseInMix > 3">（{{ item.count }}）</span>
                        </span>
                      <span v-if="item.diseaseInMix" class="disease-related-more" @click="clickNav(item.tabIdx, 'YDD_search_revelantillknow_more')">查看更多
                        <span v-if="item.diseaseInMix > 3">（{{ item.count }}）</span>
                      </span>
                    </p>
                    <tagitem :item="{nav: '相关疾病知识', overList: item.mixnotes, num: 10}" :isoverall="true" :keywords="keywords" :searchkey="searchQuery" />
                  </div>
                </template>
                // 问答、文章、视频、医生、医院
                <template v-else-if="item.nav !== '混排'">
                  <p class="title">{{ item.nav }}</p>
                  <tagitem :item="item" :isoverall="true" :keywords="keywords" :searchkey="searchQuery" class="tab-content-list" />
                  <div v-if="item.count>item.num" class="more" @click="clickNav(item.tabIdx)">
                    <span>{{ item.moreTxt }}
                      <template v-if="item.showTotal">({{ item.count }})</template>
                    </span>
                  </div>
                </template>
                // 混排
                <template v-else>
                  <tagitem :item="item" :isoverall="true" :keywords="keywords" :searchkey="searchQuery" class="tab-content-list" />
                </template>
              </div>
              // 混排区
              <div v-if="mixDataItem.list && mixDataItem.list.length" class="tab-content-item tab-content-mix">
                <tagitem :item="mixDataItem" :isoverall="false" :keywords="keywords" :searchkey="searchQuery" class="tab-content-list" />
              </div>
            </div>
            // 非综合区
            <div v-else class="common-tab">
              // 标签
              <papertag-multiline v-if="formatTagsList&&formatTagsList.length" ref="papertagInner" :tags="formatTagsList" :index="curTab.tagIdx" :parent-dom="'.common-tab'" :top-minus-dom="['.tmenu', '.fixed-nav']" @tagclick="clickCommonTag" @fixedStatusOnChange="fixedStatusOnChange" />
              // 疾病、问答、文章、视频、医生、医院
              <div v-if="curTab.showInTab&&curTab.list&&curTab.list.length" class="tab-content-item">
                <tagitem :item="curTab" :keywords="keywords" :searchkey="searchQuery" class="tab-content-list" />
              </div>
            </div>
            <div v-show="tabIdx === 0 || (tabIdx > 0 && curTab.list && curTab.list.length)" class="loading">
              <span v-show="(tabIdx === 0 && !mixDataItem.loaded) || (tabIdx > 0 && !curTab.loaded)" class="dotting">
                <i/>
                <i/>
                <i/>
              </span>
              <span>{{ (tabIdx === 0 && mixDataItem.loaded) || (tabIdx > 0 && curTab.loaded) ? '更多专业内容，陆续更新' : '正在加载更多' }}</span>
            </div>
          </div>
          <div v-show="searchInput && (tabIdx < 0 || (tabIdx > 0 && (!curTab.list || !curTab.list.length)))" class="empty">{{ searchStatus === 2 ? '正在搜索中...' : searchStatus === 3 ? '暂未搜到相关结果' : '' }}</div>