.depressiontest{
	padding:.48rem .36rem;
	.depressiontest-title{
		font-size:.24rem;
		color:#80888c;
		position:relative;
		margin-bottom:.32rem;
		// &:after {
		// 	position:absolute;
    //         margin-left: .8rem;
    //         content: " ";
    //         display: block;
    //         height: .02rem;
    //         border-bottom: .01rem dashed currentColor;
    //         left:0;
    //         right:0;
    //         top:50%;
    //     }
	}
	.depressiontest-card{
		// background: {
		// 	image:url('https://s.pc.qq.com/tdf/baike/depression.png');
		// 	repeat:no-repeat;
		// 	position: center;
		// 	size:100%;
		// }
		background-color:#ffffff;
		display:flex;
		align-items:center;
		border-radius:.2rem;
		padding:.32rem 0 .32rem .32rem;
		.depressiontest-img{
			font-size: 0;
			background-color:#f6feff;
			height: 1.2rem;
			width:1.2rem;
			border-radius: 50%;
			overflow: hidden;
			margin-right:.26rem;
			img{
				width:100%;
				position: relative;
			    bottom: .34rem;
			    left: .04rem;
			}

		}
		.depression-info{
			flex:1;
			.depression-desc1{
				font-size:.44rem;
			}
			.depression-desc2{
				font-size:.24rem;
				margin-top: .14rem;
				color:#80888c;
			}
		}
	}
}