@import '~src/assets/style/common-util';

@mixin ellipsis($value:4){
	max-width: #{$value}rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin setBackground($url){
	background:{
		image:url($url);
		repeat:no-repeat;
		position: center;
		size:contain;
	}
}
.container {
    background: $background;
    width: 7.5rem;
    margin: 0 auto;
    position: relative;
    padding-top: .88rem;
    flex: 1;
}
.list-block-lib {
    .list-block-alpha {
        font-size: .24rem;
        color: #80888C;
        padding: 0.02rem .36rem;
        background: #EEF1F2;
        &.on {
            position: fixed;
            top: 1.76rem;
            left: 0;
            z-index: 99;
            width: 100%;
        }
    }
    .list-block-diseases {
        .list-block-disease {
            height: 1rem;
            line-height: 1rem;
            font-size: 0;
            position: relative;
            padding: 0 .0rem 0 .36rem;
            overflow: hidden;

            background-color: #f8fbfb;
            a {
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                line-height: 1rem;
                font-size: .3rem;
                color: #0D0D0F; //display: block;
                box-sizing: border-box; // border-bottom: 1px #EEF1F2 solid;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis; // max-width: 6.9rem;
                margin: 0 0 0 .36rem;
                position: absolute;
                top: 0; // -webkit-line-clamp:1;
                // overflow: hidden;
                //white-space: nowrap;
                font-weight: normal;
                &::after {
                    @include setBottomLine;
                    border-bottom-color: #e3e6ea;
                }
            }
            &.building {
                a {
                    color: #B8BFC4;
                }
                span {
                    color: #b8bfc4;
                    font-size: .24rem;
                    /* float: right; */
                    right: 0.4rem;
                    position: absolute;
                }
            }
        }
    }
}
.bottom-fixed-tips{
    display: inline-block;
    
    height: .54rem;
    background-color: rgba(68,68,68,1);
    color: #fff;
    font-size: .26px;
    border-radius: .12rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    white-space: nowrap;
    .inner-wrp{
        position: relative;
        padding: 0 .12rem 0 .21rem;
        .tips{
            vertical-align: middle;
        }
        .close-btn{
            display: inline-block;
            width: .48rem;
            height: .54rem;
            background: url(~src/assets/images/mobile/search_new/close.png) no-repeat center;
            background-size: .24rem;
            vertical-align: middle;
            margin-left: .3rem;
        }
        .collect{
            display: inline-block;
            width: .48rem;
            height: .54rem;
            background: url(~src/assets/images/mobile/search_new/close.png) no-repeat center;
            background-size: .24rem;
            vertical-align: middle;  
        }
    }
    &:after{
        width: 0;
        height: 0;
        content: ' ';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -.2rem;
        border: solid transparent;
        border-width: .1rem .15rem;
        border-top-color: rgba(68,68,68,1); 
    }
}